[2020-06-16 13:05] hardikdr commented on #474
cc @MSSedusch @dkistner

[2020-06-17 07:05] MSSedusch commented on #474
I'll have a look

[2020-06-17 19:00] danielfoehrKn commented on #469
Opened [issue on calico-node](https://github.com/projectcalico/node/issues/519#issuecomment-645479043)

[2020-06-18 16:47] zanetworker commented on #469
A more specific issue also opened on calico-node: https://github.com/projectcalico/node/issues/522

[2020-06-18 18:34] sebbonnet opened #476 "MCM does not reset the failed_machines gauge once the machine is deleted"
**What happened**:
When a machine is no longer reachable, MCM correctly reports the machine as unhealthy and creates the corresponding `failed_machines` gauge metric. However when the machine is actually deleted that metric is not cleared and it keeps on being reported.
This makes it problematic for alerting rules based on the `failed_machines` metric as it never gets reset to 0.
I may be easier t

[2020-06-19 07:40] dkistner commented on #30
We would need to create `servergroup(s)` where we attach the machines to. Servergroups have a policy assigned which define the affinity or anti-affinity behaviour of the group. See [terraform docs for servergroups](https://www.terraform.io/docs/providers/openstack/r/compute_servergroup_v2.html#policies-1).

We should use `soft anti-affinity` as it will try to distribute the machines across differe

[2020-06-19 08:01] vlerenc commented on #30
Thanks for opening @dkistner. FYI: @hardikdr @prashanth26 @amshuman-kr this was feedback we received from Converged Cloud on our VM scheduling practice. From what we understand, they would be happy if it can be implemented by Q320, I think. Is that right @kistner? That would allow us to postpone this thing until we are done with the out-of-tree implementation. Then again, if someone else could pic

[2020-06-19 08:06] kayrus commented on #30
Don't forget to consider server-groups and server-group-members quota. By default it is 10/40 in ccee.

We're using iSCSI, so disks can be attached without any restrictions.

The only concern, that sometimes, when VMs are scheduled in parallel, they can end on the same hypervizor independently on the anti-affinity rule. cc @joker-official

[2020-06-19 08:26] dkistner commented on #30
@vlerenc I have already implemented similar logic for the multiple availability set story on Azure. So I think it can be adapted with low effort. The main effort is to test. I can do it, but we need to properly prioritise.

@kayrus Thanks for the hint with the `server-group-member-quota`. I was not aware of that. That would mean we would be forced to have a dedicated server group for worker pool a

[2020-06-22 04:17] #474 closed

[2020-06-24 09:41] MartinWeindel opened #479 "New machines deleted during scale up"
**What happened**:
- I changed worker group autoscaler min/max from 5/5 to 6/7.
- MCM created two additional machines `fmbkr` and `t5rdc`
- 70 secs later MCM created two more machines (`7v6bs` and `cvl7n`) and deleted the first pair of new machines

It is also strange, that MCM-provider-vsphere cannot find the secret `shoot--vmware-rot--cf4k8s-worker-o8n5c-z1-3f629` (see log below).
But there is a

[2020-06-25 08:18] vpnachev commented on #465
@gardener/mcm-maintainers any updates on this issue?

I have an azure VM that failed to join and now the deletion is stuck, however the only resource in azure portal that I see is the network interface - the VM itself has been deleted.

[2020-06-26 07:39] prashanth26 commented on #465
Hi Guys,

We haven't made any progress on this issue currently. I think we need to pick this issue on prio as this is affecting multiple clusters.

/priority critical

cc: @hardikdr @amshuman-kr

[2020-06-30 09:54] #465 closed

[2020-07-04 17:23] hardikdr opened #483 "Switch to exponential backoff while creating/deletion machines"
**What would you like to be added**:
On failure of machine creation or deletion requests, MCM constantly tries to create or delete the machine-objects. This could cause a heavy load on control-cluster's API-server, and exhaust the API rate-limits of cloud-provider. We should exponentially back-off on the failure of requests.

**Why is this needed**:

[2020-07-13 09:28] aylei opened #485 "MachineDeployment would not get processed due to potential race condition"
**What happened**:
Machine was not get created with MachienDeployment replica set to 1

[code]

Log of MCM
[code]

**What you expected to happen**:
Machine count matches the desired replicas of MachineDeployment

**How to reproduce it (as minimally and precisely as possible)**:
Create MachineDeployments frequently and it may be reproduced

**Anything else we need to know**:
1. The secret is get fr

[2020-07-13 09:32] hardikdr commented on #485
Very likely be related to this: https://github.com/gardener/machine-controller-manager/issues/430 .
- Probably a minor change and but needs to be fixed yet.

[2020-07-13 11:42] prashanth26 opened #486 "Secret without finalizers"
**What happened**:
The secret has already been deleted for a shoot cluster in deletion.

MCM Logs below
[code]

**What you expected to happen**:
When you trigger shoot deletion for a shoot with OOT sometimes.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:
This is caused by a race between the in-tree and out-of-tree controllers which put the s

[2020-07-13 11:43] prashanth26 commented on #486
Reported by @MartinWeindel earlier.

/assign @prashanth26

[2020-07-14 07:55] #486 closed

[2020-07-16 07:58] guydaichs opened #488 "MCM to mark terminating nodes"
**What would you like to be added**:

When MCM replaces nodes (unhealthy node termination, node rolling updates, ...), nodes that are being terminated should be marked in some way (e.g. annotation) to reflect the reason of their termination.

**Why is this needed**:
End-users can setup monitoring for the progress of node rolling updates. If PDBs are used, end-users can automate removal of PDBs fro

[2020-07-16 08:29] hardikdr commented on #488
Sounds like a good idea to me to have an indication on node-object, whenever it's being terminated, likely due to health-conditions.

[2020-07-17 07:51] prashanth26 opened #490 "Joining of machines fails when max # of (worker) reconciliation is reached."
**What happened**:
Newly created machines fail to join which hinders (takes longer) for rollingUpdates/Scale up. This problem and leads to hanging of machineSet/machineDeployments.

**What you expected to happen**:
Already created machines should be able to join/re-join even even if there are several machine operations in parallel.

**How to reproduce it (as minimally and precisely as possible)**:

[2020-07-17 08:11] prashanth26 commented on #490
Restarting the MCM temporarily solves this issue. However, we need to look into this issue

[2020-07-17 08:35] prashanth26 commented on #490
I checked through the code path. Looks like joining/re-joining of nodes is possible (and isn't blocked by this). However, I think this issue is due to the maximum parallel workers allowed. Currently, MCM only allows 5 workers (per resource kind) to process in parallel.

Refer
- https://github.com/gardener/machine-controller-manager/blob/master/cmd/machine-controller-manager/app/options/options.go#

[2020-07-17 08:42] prashanth26 commented on #490
There are two ways we would solve this issue.

1. Increase the max allowed concurrent workers. We could set this value based on the number of nodes in the cluster.
2. Set [drain call timeouts](https://github.com/gardener/machine-controller-manager/blob/master/pkg/util/provider/machinecontroller/machine_util.go#L890) to smaller intervals (~10mins intervals). So drainTimeout of 2hours and setting th

[2020-07-17 09:46] amshuman-kr commented on #490
@prashanth26 Thanks a lot for analysis. My preference, actually is different from option 1 and 2.

3. Decouple drain (at least the waiting part) from reconciliation path. Ideally, we should fire whatever delete/evict calls that are possible and simply ReconcileAfter and pick from where the last reconciliation left off in the next reconciliation. The current waiting and retries in a loop inside the

[2020-07-17 10:11] prashanth26 commented on #490
(3) is also a good idea. It skipped my mind.

Let's increase the workers to 10 for now. And later we can decouple the drain logic as you mentioned in (3).

[2020-07-21 07:42] prashanth26 commented on #308
/close issue as this wasn't observed lately. Reopen if it occurs again.

[2020-07-21 07:42] #308 closed

[2020-07-21 07:45] prashanth26 commented on #312
/close in favor of https://github.com/gardener/machine-controller-manager/issues/312#issuecomment-552824456

[2020-07-21 07:45] #312 closed

[2020-07-21 07:49] prashanth26 commented on #372
/close in favor of https://github.com/gardener/machine-controller-manager/pull/478, where this parameter is configurable now.

[2020-07-21 07:49] #372 closed

[2020-07-21 07:53] prashanth26 commented on #28
NPD is an independent component to be deployed along with the MCM. However, the MCM exposes flag/configurations where machines can be replaced based on `node-conditions` set by the NPD. Refer - https://github.com/gardener/machine-controller-manager/pull/478/files#diff-fe88a08ccd7c50ae45f70c808813c2d5R34.

/close

[2020-07-21 07:53] #28 closed

[2020-07-21 07:58] prashanth26 commented on #156
I think this no longer makes sense. And we have made improvements to memory/CPU utilization lately. WDYT @hardikdr ?

[2020-07-21 07:59] hardikdr commented on #156
Yes, let's close it unless we see it again.

/close

[2020-07-21 07:59] #156 closed

[2020-07-21 10:21] prashanth26 commented on #488
I got the information that you are working on a fix for this. Hence assigning you to the issue.

/assign @guydaichs

[2020-07-21 10:35] guydaichs commented on #488
Hi @prashanth26. Yes, I'm working on this. I noticed that there's already a mechanism for syncing the machine config with a node annotation. However, in my case, I want the annotation to capture a certain transition, and not the current state.

So, I was thinking to annotate the node in the `machineDelete` method, and reflect `machine.Status.CurrentStatus.Phase` if it's not `Terminating`. For exam

[2020-07-22 08:44] prashanth26 commented on #490
/reopen to keep track of this issue and implement Amshu's suggestion of part (3) eventually.

[2020-08-06 15:47] hardikdr commented on #430
/assign @AxiomSamarth

[2020-08-06 16:07] hardikdr opened #494 "[Azure] Improve handling of WaitForCompletion-response while machine creation"
**What would you like to be added**: We recently faced a situation while machine-creation, where synchronous `Create()` call is waiting for a response in Azure, while the actual VM joined the cluster. The `Create()` call a timeout with the following message:
[code]

As the `Create()` call to the Azure failed, but the real VM was actually created, MCM decides to retry the creation deleting the runn

[2020-08-06 16:07] hardikdr commented on #494
cc  @vpnachev @prashanth26

[2020-08-08 04:57] hardikdr commented on #121
/assign @hardikdr

[2020-08-08 05:16] hardikdr commented on #121
Waking this thread up to prepare a good FAQ for MCM. I would try to gather generic questions that have been asked by stake-holders in recent times and open a PR soon after to add it doku. Proposing the following major categories:

Questions:

## Basic
1. What is MCM ?
2. In what cases machine is triggered for deletion?
3. How are the Pod Disruption Budgets maintained in the MCM?
4. How does Cluste

[2020-08-08 05:21] hardikdr commented on #121
It would be great to see more questions/answers contributed here, we shall open a WIP PR[again] and have them added incrementally. :)

cc @prashanth26 @amshuman-kr @AxiomSamarth @zuzzas @rewiko @ggaurav10 @guydaichs

[2020-08-13 14:05] Ido-Itz commented on #121
I'll start the Q&A thread as suggested, based on a conversation I had with @hardikdr just now 😄

**Q**
We are going to set an exact value for `machineDrainTimeout` that fits our use case, after which we no longer mind if the drain will ignore PDBs.
I was wondering which value I should set for `maxEvictRetries` so that it wouldn't collide with the other configuration.

**A**
Hardik explained that i

[2020-08-13 14:25] hardikdr commented on #121
Basically in summary:

1.  If you dont set the maxEvictRetries, and set only the maxDrainTimeout.
    - MCM auto calculates the maxEvictRetries based on the drainTimeout.
2.  If you dont set the drainTimeout, and only set the maxEvictRetries:
    - Default drainTimeout is considered , and the MER you provided for each pod.
3. If you set both MER and drainTimoeut:
    - Then both will be respected.

[2020-08-13 20:20] prashanth26 commented on #27
This is currently enabled on AWS with - https://github.com/gardener/machine-controller-manager/pull/481.

[2020-08-13 20:25] prashanth26 commented on #46
There is a very old branch of MCM that attempts to do this - https://github.com/gardener/machine-controller-manager/tree/cluster-api.

[2020-08-13 20:30] prashanth26 commented on #490
closing this issue in favor of - https://github.com/gardener/machine-controller-manager/issues/48.

[2020-08-13 20:30] #490 closed

[2020-08-13 20:30] prashanth26 commented on #48
Refer - https://github.com/gardener/machine-controller-manager/issues/490#issuecomment-660003060.

[2020-08-13 20:33] prashanth26 commented on #88
closing issue as I don't think this occurs anymore. Please reopen if reproducible.

[2020-08-13 20:33] #88 closed

[2020-08-13 20:35] prashanth26 commented on #93
This is completed here - https://github.com/gardener/machine-controller-manager-provider-vsphere. Thanks to @MartinWeindel.

[2020-08-13 20:35] #93 closed

[2020-08-13 20:38] prashanth26 commented on #129
Closing this issue as there are basic until tests in place today. Of course, we have to improve the coverage over time. Following the current principle of adding tests for each fix/enhancement.

[2020-08-13 20:38] #129 closed

[2020-08-13 20:38] prashanth26 commented on #130
Closing this issue as there are basic until tests in place today. Of course, we have to improve the coverage over time. Following the current principle of adding tests for each fix/enhancement.

[2020-08-13 20:38] #130 closed

[2020-08-13 20:38] prashanth26 commented on #131
Closing this issue as there are basic until tests in place today. Of course, we have to improve the coverage over time. Following the current principle of adding tests for each fix/enhancement.

[2020-08-13 20:38] #131 closed

[2020-08-13 20:38] prashanth26 commented on #132
Closing this issue as there are basic until tests in place today. Of course, we have to improve the coverage over time. Following the current principle of adding tests for each fix/enhancement.

[2020-08-13 20:38] #132 closed

[2020-08-13 20:39] prashanth26 commented on #175
This log rarely occurs and doesn't seem to affect the working of MCM. Will reopen as and when required.

[2020-08-13 20:39] #175 closed

[2020-08-13 20:40] prashanth26 commented on #179
Closing in favor of - https://github.com/gardener/machine-controller-manager/pull/351.

[2020-08-13 20:40] #179 closed

[2020-08-13 20:42] prashanth26 commented on #185
This can be implemented by a higher-level controller as described here - https://github.com/gardener/gardener/tree/master/extensions#operating-system. Hence closing this for now.

[2020-08-13 20:42] #185 closed

[2020-08-13 20:44] prashanth26 commented on #197
/assign https://github.com/AxiomSamarth

[2020-08-13 20:48] prashanth26 commented on #207
closing it as there is no quick way to figure out complex issues without SSHing into the node. However, with integration of NPD things are better.

[2020-08-13 20:48] #207 closed

[2020-08-13 20:50] prashanth26 commented on #234
Closing as MCM supports this feature with the help of cluster autoscaler today.

[2020-08-13 20:50] #234 closed

[2020-08-13 20:53] prashanth26 commented on #287
Things are getting better with https://github.com/gardener/machine-controller-manager/pull/460. However, will keep this issue open to tracking exact improvements.

[2020-08-13 20:55] prashanth26 commented on #295
Have we observed such scenarios lately?

cc @amshuman-kr @hardikdr

[2020-08-13 20:57] prashanth26 commented on #317
This is a hard one to implement as it would require MCM to have access to kubelet logs. Things should be better with integration of NPD. Closing this for now.

[2020-08-13 20:57] #317 closed

[2020-08-13 20:58] prashanth26 commented on #318
Closing in favor of - https://github.com/gardener/machine-controller-manager/issues/284.

[2020-08-13 20:58] #318 closed

[2020-08-13 21:02] prashanth26 commented on #333
Closing in favor of https://github.com/gardener/machine-controller-manager/pull/348 and https://github.com/gardener/machine-controller-manager/pull/478

[2020-08-13 21:02] #333 closed

[2020-08-13 21:05] prashanth26 commented on #338
Additional disks (+encryption in some cases), are implemented with

AWS - https://github.com/gardener/machine-controller-manager/pull/378
Alicloud - https://github.com/gardener/machine-controller-manager/pull/397
Azure - https://github.com/gardener/machine-controller-manager/pull/397
GCP - https://github.com/gardener/machine-controller-manager/pull/414

[2020-08-13 21:09] prashanth26 commented on #349
All OOT controller follow this principle. And all providers will be eventually moved OOT. Hence closing this here.

[2020-08-13 21:09] #349 closed

[2020-08-13 21:11] prashanth26 commented on #350
Closing in favour of changes on OOT - https://github.com/gardener/machine-controller-manager/pull/460.

[2020-08-13 21:11] #350 closed

[2020-08-14 01:50] #430 closed

[2020-08-14 03:12] hardikdr commented on #295
I think there is a case if we directly update the MachineDeployment managed by CA, CA may end up misbehaving. I suggest we keep it open, to take a further look once again after autoscaler-rebase.

[2020-08-14 03:21] hardikdr commented on #338
This can be closed in favor of: https://github.com/gardener/machine-controller-manager/issues/462

[2020-08-14 03:23] hardikdr commented on #462
From:  https://github.com/gardener/machine-controller-manager/issues/338

yarivlifchuk commented on Oct 7, 2019 •
Application Studio (Web IDE DevX) uses ephemeral disk in AliCloud,AWS,Azure,NS2
Encrypted Ephemeral storage (not storage class) requires allocate additional Disk for each node and make it encrypted. in AliCloud there is only a System Disk and not a Data Disk.System Disk is not encrypte

[2020-08-14 03:23] #338 closed

[2020-08-14 03:32] hardikdr commented on #350
This was also fixed part of the : https://github.com/gardener/machine-controller-manager/pull/432 .
@prashanth26 I believe this is a critical behavior change, can you please confirm if this is adopted in the out of tree machine-controller.

[2020-08-14 03:45] hardikdr commented on #476
cc @ggaurav10

[2020-08-14 03:50] hardikdr commented on #456
Dupe of https://github.com/gardener/machine-controller-manager/issues/476 .
Closing in favor of the other.

[2020-08-14 03:50] hardikdr commented on #456
/close

[2020-08-14 03:51] hardikdr commented on #476
@rfranzke commented on Apr 29
[code]

[2020-08-14 03:57] prashanth26 commented on #350
So the OOT basically checks for any VM first and then triggers the deletion of VMs. The same applies to creation. I hope this is what was intended with opening this issue?

[2020-08-14 05:13] ggaurav10 commented on #456
#476 is about the failed machine metric counter, whereas this issue is about reseting the `status` field. These appear to be different issues, and hence are not duplicate.
Reopening this.

[2020-08-14 05:35] AxiomSamarth commented on #197
/assign @AxiomSamarth

I guess, it got assigned to @prashanth26 previously. Assigning it to me as per my discussions with Prashanth.

[2020-08-14 05:37] prashanth26 commented on #197
/unassign

[2020-08-14 05:46] ggaurav10 commented on #456
@rfranzke currently the `.status.failedMachines` field in the machine deployment is reset only when all the machines controlled by the machine deployment are healthy (running and have joined the cluster). Until then it contains the latest set of failed machine operations.
Refer:

https://github.com/gardener/machine-controller-manager/blob/e21b931ce25cc57b4267fce80e69839179854c20/pkg/controller/dep

[2020-08-14 05:58] rfranzke commented on #456
I still think this should be improved, i.e., the `status` should reflect the actual state of the world (which it currently does not - the machine is in the processing of joining the cluster and no longer failed). It's not too critical/important in the sense that we need it tomorrow, but it would improve user and ops experience/productivity to not show false negative status information.

[2020-08-14 11:01] AxiomSamarth commented on #197
The issue does not seem to be reproducible when tried with fresh deployments with 0 replicaset and even when scaled down to 0 replicaset.

[2020-08-14 11:01] prashanth26 commented on #197
/close it as not reproducible for now. Reopen if observed again.

[2020-08-14 11:02] #197 closed

[2020-08-16 13:18] prashanth26 commented on #488
/status in-progress

[2020-08-16 13:21] prashanth26 commented on #485
Hi @aylei ,

We think that this issue would be fixed with this PR - https://github.com/gardener/machine-controller-manager/pull/495. Please reopen this PR if the problem persists. Closing it for now.

/close

[2020-08-16 13:21] #485 closed

[2020-08-16 13:24] prashanth26 commented on #479
/provider vsphere

[2020-08-16 13:26] prashanth26 commented on #479
Hi @MartinWeindel ,

Apologizes for the delay in looking into the issue. Are you still seeing this issue or was it a one-time thing?

[2020-08-16 13:38] prashanth26 commented on #466
closing in favor of https://github.com/gardener/machine-controller-manager/issues/444.

/close

[2020-08-16 13:38] #466 closed

[2020-08-16 13:39] prashanth26 commented on #444
Also, we should update the status on machine object right before VM creation request is made ot the provider.

[2020-08-16 13:41] prashanth26 commented on #461
Assigning the issue to Samarth Deyagond

[2020-08-16 13:47] prashanth26 commented on #453
closing in favor of https://github.com/gardener/machine-controller-manager/issues/455.

/close

[2020-08-16 13:47] #453 closed

[2020-08-16 13:51] prashanth26 commented on #439
/priority critical

[2020-08-16 13:59] prashanth26 commented on #400
/close in favor of https://github.com/gardener/gardener/issues/2014

[2020-08-16 13:59] #400 closed

[2020-08-16 14:03] prashanth26 commented on #393
/close in favor of https://github.com/gardener/machine-controller-manager/pull/406.

[2020-08-16 14:03] #393 closed

[2020-08-16 14:04] prashanth26 commented on #392
@hardikdr - do we still need this issue or is it resolved?

[2020-08-16 14:07] prashanth26 commented on #435
I am closing this issue if it has been resolved.

[2020-08-17 06:06] vpnachev commented on #461
Then
/assign @AxiomSamarth

[2020-08-17 06:23] hardikdr commented on #461
/assign @AxiomSamarth

[2020-08-17 06:24] hardikdr commented on #461
I guess he is not part of the org yet, needs to be added.

[2020-08-17 06:42] hardikdr commented on #392
Idea is to have a zone information in the MachineClass for each provider, as this is needed for autoscaler to scale from zero.
This was implemented for AWS, but not for all.
I suggest, we keep it open, and later move this issue to each provider-specific machine-controller, to be tackled separately.

[2020-08-17 07:16] vlerenc commented on #129
@prashanth26 Do we in the meantime have tests that test e.g. whether volumes are deleted when the machines are terminated?

[2020-08-17 07:30] prashanth26 opened #498 "Improve CI to prevent any orphaned resources"
**What would you like to be added**:
Improve the CI script to prevent any orphaned resources

**Why is this needed**:
We have in the past observed orphaned volumes on the deletion of machines due to new API changes. Shall regressions must be checked by double-checking on infra resources (VMs. Disks, NICs) before CI tests terminate.

[2020-08-17 08:06] prashanth26 commented on #129
Hi Vedran,

No, we still don't have that. Sorry, I missed that. I have created an issue for the same here - https://github.com/gardener/machine-controller-manager/issues/498. Something that will be picked up in the coming days.

[2020-08-17 08:34] MartinWeindel commented on #479
Cannot reproduce the issue anymore.

[2020-08-17 08:34] #479 closed

[2020-08-17 08:35] prashanth26 commented on #479
Okay. Thank you for the update.

[2020-08-17 13:13] DockToFuture opened #499 "Make src/dst checks configurable on awsmachineclass"
**What would you like to be added**:
To support calico's "CrossSubnet" mode on gardener clusters for provider type `aws` the src and dst checks (https://docs.aws.amazon.com/vpc/latest/userguide/VPC_NAT_Instance.html#EIP_Disable_SrcDestCheck) have to be disabled on machine network interface level. Therefore I would like to expose a field in the `awsmachineclass` (https://github.com/gardener/machine

[2020-08-18 09:23] prashanth26 commented on #499
I would suggest having this type as `*bool` as this a newly added field and in the API. And `nil` value would mimic the current behavior and only when set overrides it.

With this update, I don't think (need to verify) it will update any existing VMs as we do not update the VMs once created. However, newly created VMs will have this feature enabled.

[2020-08-20 05:23] AxiomSamarth commented on #461
@prashanth26 @hardikdr In this context, here are few observations of mine.

- The issue description of CSI Driver failing has a point that K8s does not allow creation of CSINode objects with len(nodeID)>128. I also created the machine deployment with names with length longer than 128 characters, I saw no failures as such. So, is it something very specific to the CSINode object's nodeID attribute?

[2020-08-20 05:26] prashanth26 commented on #461
@vpnachev - Do you have more inputs on how and why the limits were hitting and how we could avoid this?

[2020-08-20 05:32] AxiomSamarth commented on #461
@prashanth26 The below was his input -

_Usually objects with `generateName` are appended with a random hash string which has limited length, e.g. 5 or 8 characters. With MCM there is no such limitation, thus the machine name length is unpredictable. A simple fix of the above is just to trim the length of the randomly generated string to 5._

[2020-08-20 06:08] vpnachev commented on #461
You cannot fix the CSI issue in the MCM. The NodeID also contains the GCP project id and the zone. The project id is limited to 30 characters and the longest zone name is 25 currently. The NodeID also contains some metadata `projects/<project-id>/zones/<zone>/instances/<vm-name>` which adds a 25 more characters. So, for the machine name left less than 58 characters some of them are occupied by the

[2020-08-20 06:51] AxiomSamarth commented on #461
Okay! PR #500 implements that quick change to limit the random hash to 5 characters

[2020-08-20 06:57] timuthy opened #501 "Report permission issue in MachineDeployment"
**What would you like to be added**:
If new instances for an existing MachineDeployment cannot be created because of insufficient permissions or unauthorized requests to the cloud provider, then this should be reflected in the MachineDeployment's status.

At the moment the status reports:

[code]

Logs:

[code]

**Why is this needed**:
Gardener reports the status to users and thus it gives them a

[2020-08-20 10:55] hardikdr commented on #501
/add area/usability

[2020-08-20 10:58] hardikdr commented on #499
/add kind/api-change
/add kind/feature
/add platform/aws

[2020-08-20 11:06] hardikdr commented on #499
This is related to : https://github.com/gardener/machine-controller-manager/pull/441 .
- This was proposed, discussed and we had not implemented due to other dependencies.
- cc @zuzzas

We have an atomic `Create()` call, and I believe the src-dest check can be enabled only via a separate `ModifyInstanceAttribute()` call.
- To have a reliable solution, we need better state-management, and also in-p

[2020-08-20 11:09] hardikdr commented on #499
/kind discussion

[2020-08-20 13:04] timuthy commented on #501
Probably a duplicate of #456

[2020-08-20 13:34] zuzzas commented on #499
If you use AWS cloud-controller-manager (separately or as a legacy part of kube-controller-manager), it'll set this option on every Node. That's why **we** aren't interested in this feature being part of machine-controller-manager.

[2020-08-21 06:24] prashanth26 commented on #494
/assign @AxiomSamarth

[2020-08-21 06:24] AxiomSamarth commented on #494
/assign @AxiomSamarth I will work on this as discussed

[2020-08-24 12:44] hardikdr opened #502 "Use GenerateName while generating machine-resource names"
**What would you like to be added**: MCM has been computing the name of the machine-resources so far, it would probably be a good idea to use the `generateName` feature, and let the API-server decide the name.
- We should check the side-effects of this change, both in terms of gardener and  MCM, and how KCM is doing it yet, and if there is a good reason to move or not move.

cc @amshuman-kr

[2020-08-25 07:42] vpnachev commented on #499
The node roll out can be forced by the gardener-extension-provider-aws here https://github.com/gardener/gardener-extension-provider-aws/blob/09bca6c28530090af970a5aeafbd29fef3b26c21/pkg/controller/worker/machines.go#L307 by including this field in the data for computing the hash.

What is not clear to me is whether provider-aws will directly manage this field or the calico extension will implement

[2020-08-25 18:48] prashanth26 opened #503 "Remove redundant API field on machineSet"
**What would you like to be removed**:
[MachineClass field](https://github.com/gardener/machine-controller-manager/blob/master/pkg/apis/machine/types.go#L307) is redundant and adds no value to the best of my knowledge. And we need to get rid of this to avoid confusion as it already exists inside [Template.Spec.Class.Kind](https://github.com/gardener/machine-controller-manager/blob/master/pkg/apis/

[2020-08-26 07:31] #461 closed

[2020-08-27 08:21] zanetworker commented on #499
@vpnachev yea that was the intention. It would have been great though if you can update without rolling the VM, as this procedure is not disrupting and can be done while the VM is running.

[2020-08-29 17:00] prashanth26 commented on #488
/reopen to port this changes on OOT.

[2020-08-29 17:03] prashanth26 commented on #488
/unassign @guydaichs
/assign

[2020-09-01 03:58] #472 closed

[2020-09-06 10:00] #488 closed

[2020-09-07 07:56] hardikdr commented on #468
/priority critical

[2020-09-08 16:12] hardikdr commented on #497
/close with https://github.com/gardener/machine-controller-manager/pull/496

[2020-09-08 16:12] #497 closed

[2020-09-08 16:17] hardikdr commented on #494
@MSSedusch We are seeing the [WaitForCompletionRef](https://github.com/gardener/machine-controller-manager/blob/master/pkg/driver/driver_azure.go#L606) call being hung quite often since recently. Sometimes even before this call returns the actual VM is created and it joins the cluster.  Do you see a need for this call, or could it be simply removed?

[2020-09-10 11:25] prashanth26 commented on #494
/ping @MSSedusch . We see this happening quite often in our landscapes now.

[2020-09-10 14:40] ialidzhikov opened #508 "machine-controller-manager is not waiting for detach of CSI PVs"
**What happened**:
Currently machine-controller-manager Driver interface has a func `GetVolNames` which for given slice of PVs, returns the provider volume id. For example this func looks like this for the aws driver:

https://github.com/gardener/machine-controller-manager/blob/2177dc7df83197c70624f243463d4f2c58c14017/pkg/driver/driver_aws.go#L492_L505

Note that this funcs relies on `.spec.awsEla

[2020-09-10 14:42] ialidzhikov commented on #508
/area storage
/priority critical

[2020-09-11 00:18] ialidzhikov commented on #508
/assign @ialidzhikov

[2020-09-11 04:32] hardikdr commented on #508
Great catch, thanks for pointing out @ialidzhikov.

This should essentially mean, with 1.18+ k8s versions, the serialized eviction will not be effective anymore. cc @ggaurav10 @amshuman-kr

/priority blocker
/milestone 0.35.0

[2020-09-11 04:32] hardikdr commented on #508
/milestone v0.35.0

[2020-09-11 04:47] prashanth26 commented on #508
Something to be kept in mind - https://github.com/gardener/gardener-extension-provider-gcp/issues/172#issuecomment-690854264.

[2020-09-11 04:58] hardikdr commented on #508
Btw the interface method `GetVolNames` is optional for providers and implemented only to enable the serialized eviction.
- `GetVolNames` definitely has to be adapted.

 The root cause could be a little more than that, the dangling volumeAttachments are probably because machines are force-deleted by during hibernation[no-drain], but this needs investigation.

[2020-09-11 05:03] hardikdr commented on #508
Also, I think the machine could be force deleted due to multiple reasons, and the `volumeAttachments` ideally should be garbage collected by the responsible csi-controller, I don't have enough understanding there though.

[2020-09-11 05:13] hardikdr commented on #508
Likely related: https://github.com/kubernetes-csi/external-attacher/issues/215

[2020-09-14 04:56] #508 closed

[2020-09-14 08:53] zuzzas commented on #46
Here's a convo from the last year. @vlerenc sheds some light on the issue.

![image](https://user-images.githubusercontent.com/950313/93065036-e49d9200-f680-11ea-8be6-53f8c98f4e87.png)

https://kubernetes.slack.com/archives/CB57N0BFG/p1573835150176400

[2020-09-14 18:25] MSSedusch commented on #494
Could this be related to the issue that @dguendisch reported to Microsoft a few weeks ago where the VM provisioning is not successful from Azure side but the OS is able to join the K8s cluster?

[2020-09-14 19:47] prashanth26 commented on #494
@MSSedusch - Yes, even I checked the Azure console to find similar VMs whose provisioning was in a failed state. And it was often observed while trying to spin up `Standard_D8s_v3` and `Standard_D32s_v3` machines on Azure. But with these large machines, I don't think they were joining also.

[2020-09-15 06:20] #30 closed

[2020-09-15 12:35] dkistner commented on #494
So I guess it can happen that the machine joins the the cluster (means the userdata is executed and kubelet has registered at the apiserver) but the machine provisioning on Azure  is not completed. Then the context passed to `WaitForCompletionRef` could get canceled due to timeout and in consequence mcm will delete the machine once more, even if the machine is ready in the cluster.

So can we add

[2020-09-21 11:50] prashanth26 opened #512 "MachineDeployment with outdated status.unavailableReplicas value"
**What happened**:
A machine deployment with an outdated value for `status.unavailableReplicas` was found in the cluster. The value of this was 13 when there no unavailable machines for the machine deployment.

**What you expected to happen**:
I would not expect such inconsistent values in the machine deployment status

**How to reproduce it (as minimally and precisely as possible)**:
Not sure

**

[2020-09-21 11:52] prashanth26 commented on #512
Line of code to be investigated is here - https://github.com/gardener/machine-controller-manager/blob/90f8b67cc5e643feabf99ba6b8193aff47e04e79/pkg/controller/deployment_sync.go#L594

[2020-09-22 05:55] hardikdr commented on #494
What you described above is correct. Though, adding short-lived taints can bring more complexity, would be more of a band-aid than solution.
Btw I am curious, what's the significance of `FutureWaits` here ? What happens if we simply remove those `FutureWaits`, MCM will anyways trigger the deletion of the machine if node doesn't join.

[2020-09-22 07:32] zuzzas opened #513 "Provide a way to initialize out-of-tree providers"
**What would you like to be added**:

I'd like to have a special gRPC method that is **called exactly once** on the start-up of MCM and subsequent initialization of out-of-tree providers.

Here's how the Cloud Provider Interface approaches this: https://github.com/kubernetes/cloud-provider/blob/master/cloud.go#L44-L47

**Why is this needed**:

For example, while using an in-house in-tree vSphere p

[2020-09-22 08:32] MSSedusch commented on #494
I dont think this would help. If the VM is able to join the cluster as indicated by Dominic but the VM is not provisioned successfully from an Azure point of view,  K8s will start scheduling work in the node (potentially with PVCs) but the VM is unusable from Azure PoV and e.g. attach operations will fail.

I think making sure the node will not get any K8s workload until it is successfully provisi

[2020-09-23 04:19] hardikdr opened #514 "Allow deletion of VM when AMI is not found in AWS."
**What would you like to be added**: At the moment, we have certain checks to default the `DeleteOnTermination` attribute on disks before actually deleting the VM.
Codepath: https://github.com/gardener/machine-controller-manager/blob/master/pkg/driver/driver_aws.go#L283-L332 .

This can block the deletion of the VM if the underlying AMI is removed/expired.
We should remove this codepath if not req

[2020-09-23 04:20] hardikdr commented on #514
cc @prashanth26

[2020-09-23 05:46] prashanth26 commented on #514
/assign
/priority blocker

[2020-09-23 08:07] rfranzke opened #517 "Trigger rolling update of machines without changing machine class reference"
**What would you like to be added**:
It would be nice to have a trigger for a rollout of the machines without the necessity to change the machine class reference.

**Why is this needed**:
Apply updates/changes that are only done when the machine is created/booted the first time.
Currently in gardener rolling update for a k8s version change, we use the hack of changing the machineClass name (which

[2020-09-23 08:11] hardikdr commented on #517
Interesting.
Btw this can be achieved if the same MachineClass is updated with new values. The values will be in effect only when the new machine is created or old one is deleted.

[2020-09-25 07:40] hardikdr commented on #512
Just a hint, this is generally seen, when there is available Quota but actual machine-types cant delivered by cloud providers, may help in debugging.

[2020-09-28 05:58] AxiomSamarth commented on #494
@MSSedusch Hi Sebastian, I should have pitched in a bit earlier here. I am sorry, I missed. Having looked into this issue personally, I want to share some of my observations.

- The VMs on Azure were not provisioned despite extended `timeout` on Machine Controller Manager.
- Other tweak that we did to handle this was to increase the context `deadline`, client `polling duration` and even `retry att

[2020-09-29 06:50] MSSedusch commented on #494
I think we should distinguish between the current issue of VMs with Garden Linux are not able to be provisioned and are more generic issue of VMs that are not been completely provisioned yet join the cluster and potentially getting workload.

For the 1st one, I am currently trying to repro it.

For the 2nd one, I really think nodes should not get workload until MCM is done provisioning the VM. Oth

[2020-09-29 07:35] AxiomSamarth commented on #494
@MSSedusch Thanks! I am eager to to know the results of your Test #1

I will discuss with Prashanth & Hardik in regard to your #2

[2020-09-29 07:41] prashanth26 commented on #494
@MSSedusch - I don't think any workload/disk can attach to the VM until the VM has been provisioned and the kubelet on the VM registers itself as the node on Kubernetes. We anyways wait for the node to join via Kubernetes to mark the VM as schedulable and healthy via MCM. So keeping this in mind, we can probably get rid of this logic right? Bcoz currently while trying to provision large machines t

[2020-09-29 08:55] prashanth26 commented on #483
/assign @hardikdr @prashanth26
/priority blocker

[2020-09-29 10:52] MSSedusch commented on #494
When do you mark the node as schedulable? When the node joins the K8s cluster or when the VM is provisioned successfully on Azure *and* joined the K8s cluster?

[2020-09-29 11:00] prashanth26 commented on #494
So right now, on other providers (AWS, Openstack, etc.), we issue a create VM call (non-blocking), and then when the VM joins as a K8s node (as we configure the kubelet via userData/cloudconfig) we mark them as a healthy & running machine form MCM perspective.

And also to mention, even with today's code all though VM provisioning is a blocking call on Azure driver. The pods/PV scheduling is done

[2020-09-29 11:04] MSSedusch commented on #494
ok, this behavior can be problematic IMHO. Workload should only be scheduled if the VM is also ready from the cloud provider (e.g. Azure) perspective. Joining the cluster might be earlier than the VM being ready.

But again, this has nothing to do with the issue we currently have with Garden Linux. That is probably a different issue.

[2020-09-29 12:17] zuzzas commented on #517
We're doing it by changing the `.spec.template.metadata.annotations`. Basically, adding anything or changing any annotation there will trigger the rollout of new Machines.

Same as the Deployment object in Kubernetes.

[2020-09-30 09:13] zuzzas opened #522 "New Machine controller that powers OOT-providers has some regressions"
While attempting to integrate our new Yandex OOT driver for MCM. We aren't using Gardener, but these issues are unrelated.

- [x] Bootstrap token injection does not work. Fixed by https://github.com/gardener/machine-controller-manager/pull/521
- [ ] Machines are stuck in Pending even when the corresponding Node object is created and Running
- [x] The new Machine re-queuing mechanism is a step in t

[2020-09-30 09:30] prashanth26 commented on #522
Hi @zuzzas ,

Thank you for creating this master issue. With your tests, it really helps.

I would be curious to know how I can reproduce this?

If you mean by a backoff mechanism to re-create failing machines after some time (hopefully exponentially), this is something Hardik is actively working on. And we are planning to introduce a state called `CrashLookBackoff` that would re-try machine creat

[2020-09-30 18:11] zuzzas commented on #522
`machine-creation-timeout` and its default value of 20 minutes does not work. Machines are stuck in the `Pending` state for eternity. Perhaps, they should not be deleted, but instead a combo of

Perhaps, not in a document form, but the code. Then we can generate a graph from the code, as some FSB libraries do. :)

Each phase should have multiple guard clauses (or checks, if you will). For example,

[2020-10-01 04:56] AxiomSamarth commented on #494
From our yesterday's discussions, one way to handle this issue is to take action based upon the error returned by the `WaitForCompleteRef` method. That is, if the method has returned 200 OK, then do not trigger VM deletion.

cc: @hardikdr @prashanth26

[2020-10-01 07:31] hoeltcl commented on #178
@vlerenc Why is it closed?

[2020-10-01 07:45] prashanth26 commented on #522
I tried to reproduce the scenario of machines failing to join due to the bootstrap token generation issue. For the setup, i created machines whose bootstrap tokens have expired. The creation of the provider machine goes through but the machine joining times out.

However, I see that the machines are being moved to the failed state (after creation timeout) and then are replaced by the machine-set c

[2020-10-01 07:47] prashanth26 commented on #522
Each phase should have multiple guard clauses (or checks, if you will). For example, for the Machine to transition into the Running phase it has to have a corresponding Node object and it has to be Running. A Machine should be able to transition into the Running phase only from Pending or Unknown phases. You can enter the Unknown phase from the Running state only. Only if Node became unhealthy for

[2020-10-01 08:12] prashanth26 commented on #178
You are right @hoeltcl . This epic is still on going. /reopen

[2020-10-01 08:17] zuzzas commented on #522
@prashanth26
Thanks for helping, I'll look further into it. I've tried to look through the OOT Machine controller's code, but the creation timeout is actually in the MachineSet controller? That's an oversight on my part, will look further into this.

[2020-10-01 08:26] prashanth26 commented on #522
Not really, the creation timeout is in the machine controller's code here - https://github.com/gardener/machine-controller-manager/blob/master/pkg/util/provider/machinecontroller/machine_util.go#L556-L598. And it sets the machine to a `Failed` state. And the machine-set controller tries to delete all `Failed` machines like it always used to.

On parallel thread - We are thinking to update the crea

[2020-10-01 09:07] zuzzas commented on #522
Ah, I see. Perhaps, I am returning the wrong nodeName or providerID in the Yandex provider. I'll check, thanks!

Aye, that would be perfect. I've always disliked constant Machine object re-creations. And we are dealing with only one object that transitions from phase to phase, we can use [RateLimitingInterface](https://pkg.go.dev/k8s.io/client-go/util/workqueue#RateLimitingInterface) to implement

[2020-10-01 13:16] #514 closed

[2020-10-02 07:33] mvladev opened #524 "Do not set finalizers on MachineSets and MachineDeployments"
**What happened**:

Don't set `finalizers` on `MachineSets` and `MachineDeployments`

**What you expected to happen**:

Those resources managed by MCM have `machine.sapcloud.io/machine-controller-manager` finalizer.  Such higher level resources should not have that finalizer. Only `Machine` should have it.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2020-10-02 07:50] prashanth26 commented on #524
I remember you had opened this PR long back and it still exists today. And i also remember vaguely having a discussion around this PR. However, i am unable to remember why we didn't discuss on the PR. Let's relook at this.

[2020-10-06 06:48] prashanth26 commented on #522
Hi @zuzzas ,

Were you able to check why your machines weren't being deleted after a pending state? Just wanted to check with you on this.

[2020-10-07 13:04] hardikdr commented on #494
To mention, with https://github.com/gardener/machine-controller-manager/pull/525 , we introduced a new phase: `CrashLoopBackOff`.  MachineSet now doesn't delete the machine-object immediately on creation-call failure. It rather re-tries the same operation on the same object after a little delay. I believe this should complement the solution for the issue we are seeing here.

Essentially, I'd expec

[2020-10-07 14:43] MSSedusch commented on #494
@hardikdr  I am not sure I fully understand what you are suggesting.

VMs that error out during creation must be deleted. Just retrying the create with the VM still existing wont work IMHO. The API should return an immediate error.

The original issue of this Github Issue is:
"We recently faced a situation while machine-creation, where synchronous Create() call is waiting for a response in Azure,

[2020-10-08 10:15] hardikdr opened #528 "Expose OS name and OS version of the machines to prometheus."
**What would you like to be added**: We have been requested to expose the OS-name and OS-version of each machine to the Prometheus metrics.

Metric example:
[code]

We discussed, we could add a `Version` field in the MachineClass, which can then be used by the machine-controller to expose the metric.
cc @istvanballok @wyb1

[2020-10-08 11:49] hardikdr commented on #483
/priority normal
We implemented the constant backoff here #525. We should consider looking at a more sophisticated exponential backoff mechanism, a proposal would be nice.
I mainly see 2 options,
1. Backoff at the queue. An attempt to machine-set queue: https://github.com/gardener/machine-controller-manager/pull/510
2. Backoff inside the reconcile function.
   - Maybe something similar to https://

[2020-10-08 12:08] zuzzas commented on #483
Thanks to https://github.com/gardener/machine-controller-manager/pull/525 we can now attach a RateLimitingInterface to the queue, and throttle Machines in CrashLoopBackoff.

1. I'd take the `backoff_manager` concept from [here](https://github.com/gardener/machine-controller-manager/pull/510/files#diff-c93df8ca29b2cef703475cbb9cc36d36).
2. Create a throttling-by-CrashLoopBackoff function [here](htt

[2020-10-08 13:21] hardikdr commented on #494
Yes, that's correct. I missed that part, that we need to block the workload on the joining nodes.
With a bit more thought, I also feel the `creationTimeout` should be effective even for the new phase, machine-object should be replaced by creationTimeout, but that's a separate discussion.

Essentially I see, the issue is 2 fold.
1. MCM needs to handle the `WaitForCompletionRef` call better. MCM sho

[2020-10-08 14:06] MSSedusch commented on #494
re 1. I would prefer increasing the deadline timeout over a retry. But I also dont see a huge problem with giving up after 15 minutes, delete the VM and try again.

re 2. Yes that make sense.

[2020-10-08 17:07] hardikdr commented on #494
We allow users to explicitly set the creationTimeout - time-period after which machine-creation is aborted and retried with fresh machine-object, and that could be more than 15mins, specifically for large machines. We'd have to set higher context-deadline then, and better error handling there, to respect that feature.

I also have a couple of general questions:
- Recently we have seen multiple occ

[2020-10-09 11:48] MSSedusch commented on #494
We are currently investigating two issues. The first one is with the SUSE CHOST 15 SP2 image, the other one with Garden Linux. Both of them lead to long deployment times or deployments that never finish. Under normal circumstances, VMs should be deployed in a few minutes.

In the case of the gardener linux image, it seems like the OS is not sending a heart beat to Azure although it is fully booted

[2020-10-09 12:11] hardikdr commented on #494
/cc @vpnachev

[2020-10-09 18:35] hardikdr commented on #468
@ggaurav10 do you see any challenge in adding a minor delay before evicting the volume-based pods, also how do you generally see the approach?

[2020-10-10 21:03] ialidzhikov opened #529 "force-deletion label is not documented"
**What would you like to be added**:
As developer I would like to be able to find documentation about the `force-deletion` label - for example what is the difference with the normal deletion; details wrt to Pod eviction/deletion; details about Pods with volumes and how they are handled, etc.

/priority normal
/area documentation
/kind task

[2020-10-11 11:56] hardikdr commented on #529
I tried adding a bit of documentation via FAQ: https://github.com/gardener/machine-controller-manager/pull/530 .

[2020-10-12 07:52] prashanth26 commented on #494
What sort of heartbeat does the Azure expect from the OS on bootup? Is there any documentation we can refer to on this?

[2020-10-12 08:36] MSSedusch commented on #494
see
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/no-agent
https://docs.microsoft.com/en-us/azure/virtual-network/what-is-ip-address-168-63-129-16

[2020-10-13 12:40] ggaurav10 commented on #468
TL;DR:
Generally, the approach looks good.

Just thinking out loud:
in absence of the upstream fix, i think introducing a configurable delay should be helpful in controlling the eviction. It can even be enabled only when more than a certain number of volumes are attached so that eviction of nodes with lesser volumes is not slowed down. This will also help in testing when k8s finally fixes the appa

[2020-10-14 13:16] hardikdr commented on #468
We discussed today to pick this up later after the OOT for Azure is out. cc @AxiomSamarth .

[2020-10-14 17:03] vlerenc commented on #468
Right, @hardikdr. Now with kupid we can steer where we want to have our ETCDs and how many of them.
/priority normal

[2020-10-16 08:09] hardikdr commented on #498
/assign

[2020-10-20 07:33] kayrus opened #535 "OpenStack: add support for subnet specifying"
**What would you like to be added**:

Currently it is only possible to specify the VM network. However a network may contain a list of subnets.

**Why is this needed**:

An end user should be able to specify a subnet, where worker nodes must reside.

**Notes**:

This feature would be a little bit tricky, because nova API doesn't support a subnet in API spec. Thus a neutron port in a specified subn

[2020-10-20 07:41] dkistner commented on #535
@MrBatschner and @hendrikKahl are already working on it :)

[2020-10-20 10:00] hardikdr opened #536 "Use cache-based listers to GET the machine-object while reconciling."
**What would you like to be added**: MCM is GETing the machine-object via a direct client in each reconciliation of the object, MCM should rather rely on the listers/caches. With nearly 1000 machines per seed, this can amount to a large number of direct calls, which is generally not needed.

Specific code-path which could be fixed quickly/easily: https://github.com/gardener/machine-controller-mana

[2020-10-20 10:00] hardikdr commented on #536
cc @prashanth26 @rfranzke

[2020-10-20 11:01] hardikdr commented on #459
As drainTimeout is now configurable, users can decide for themselves, and as we can't do much in MCM to solve this, should we close this issue?

[2020-10-20 11:42] prashanth26 commented on #459
Yes, agreed.

Closing in favor of configurable drain timeouts.

[2020-10-20 11:42] #459 closed

[2020-10-21 08:55] prashanth26 opened #537 "Leader election lease periods are too short on network delays"
**What would you like to be added**:
The leader election lease periods are quite short currently, and sometimes MCM is restarted often on leader election timeouts. We should increase these timeouts to higher values to overcome such issues.

**Why is this needed**:
Lease periods are too small on network delays, and a higher leader election timeout should help this.

[2020-10-21 13:33] hardikdr commented on #536
/assign

[2020-10-21 13:58] hardikdr commented on #469
The NodeConditions, which MCM should react on are configurable now here: https://github.com/gardener/machine-controller-manager/blob/master/kubernetes/machine_objects/machine-deployment.yaml#L34.
If we agree, or if you suggest, happy to add `NetworkUnavailable` in the criteria, and the machine will be replaced with such networking-issues.

If not, the other/major part of the issue sounds more like

[2020-10-21 18:20] prashanth26 commented on #444
Hi @zuzzas ,

I thought a little deeper about the issue which you have raised. I see two separate requirements here, correct me if I understood it wrongly.

1. Having multiple cloud provider calls for a single machine creation so that operations are continued/retried on failures (MCM restarts). This is something that should be achievable using the OOT code currently where `CreateMachine()` call co

[2020-10-21 20:26] dguendisch opened #539 "Too high increase on deleted machine"
**What happened**:
I had a worker pool (or better `MachineDeployment`) with 3 replicas currently running.
I decided to delete one machine `shoot--garden--ccee-m3-cpu-worker-z1-84c85994f4-hpck8` as it was probably misbehaving.
MCM however in a timeframe of a few secs immediately scaled that machdeploy to 4.

**What you expected to happen**:
MCM to replace the machine I deleted and thus keep the mac

[2020-10-21 20:49] dguendisch opened #540 "MCM tries to delete machine too "aggressively""
**What happened**:
User had entered wrong credentials/cloudprovider secrets and eventually corrected that, maybe after deleting his shoot cluster. Maybe the creds were shortly correct, then not correct again, then correct again, not sure.

Now MCM tries to delete machines without any backoff in a kind of hot loop (you can see that it makes several requests per second):
[code]

**What you expected

[2020-10-22 03:48] hardikdr commented on #540
This is fixed with https://github.com/gardener/machine-controller-manager/pull/525 , and also released. We have a constant delay, for now, eventually exponential, on creation/deletion failures. Change is released and should be deployed soon.

/close Please feel free to reopen if needed.

[2020-10-22 03:48] #540 closed

[2020-10-22 07:22] zuzzas commented on #444
Hi @prashanth26,

Thanks for a thorough response. Yeah, the first point seems feasible and is exactly what I require.

The reason for https://github.com/gardener/machine-controller-manager/pull/538 is that I still use in-tree providers. It was an attempt to create a simple interim solution, which simply removes the Machine and restarts the creation flow. That helps us with not adopting half-create

[2020-10-22 07:24] prashanth26 opened #542 "Invalid credentials error on machineDeployment updates"
**What happened**:
Invalid Credentials error on rolled out machines

I am seeing this occurring when a machineDeployment has undergone a rolling update (with new machineset/machines) and is pointing to a new set of machineClass (and credentials) and one of the old machine pointing to the old machineClass (and old credentials) is stuck in the deletion and the credentials are outdated. Now with upda

[2020-10-22 13:13] danielfoehrKn commented on #469
+1 from me. Even though calicos behaviour is not optimal here, other network plugins might set this correctly.
I do not think it can harm us to also check this condition.

[2020-10-22 15:18] rewiko commented on #469
We have set NetworkUnavailable on our config, useful with cilium which set to true and start-up and false when cilium is initialized.

[2020-10-22 17:04] prashanth26 commented on #444
But wouldn't this case lead to orphan VMs in your case? Anyways you can identify VMs using the tags right. IMO, you can capture this case in the driver Create() call and either fix the partially/adopt created VM (or) probably try to perform cleanup on calling the `Create()` call the second time? And return an error to declare the machine failed. Wouldn't this be more meaningful rather than creatin

[2020-10-23 07:19] zuzzas commented on #444
This happens after adoption. If a VM was created (without setting up other important stuff, like SGs in OpenStack), the `GetVMs()` call will return the VM and it will get adopted.

[2020-10-23 09:26] hardikdr commented on #435
/close @qiffang please feel free to reopen if needed.

[2020-10-23 09:26] #435 closed

[2020-10-23 21:13] ialidzhikov opened #544 "Orphaned Azure NICs block subnet deletion afterwards"
**What happened**:
I see quite often failed Azure Shoot deletions with error similar to:

[code]

Basically the Worker (and machine-controller-manager) resources are deleted but for some reason the NICs are not deleted and block the subnet deletion afterwards (during the Infrastructure deletion).

I can see that the NIC still exists:

[code]

**What you expected to happen**:
No NICs to be orphaned

[2020-10-24 16:12] prashanth26 commented on #544
HI @ialidzhikov ,

How often have you observed this? And do you remember when the first occurrence of something like this was? Because when I look at the history changes on the Azure driver, I don't see any significant change in the last few months (atleast for v0.34.3, as there is a minor change in the master) - https://github.com/gardener/machine-controller-manager/commits/rel-v0.34.0/pkg/driver

[2020-10-24 16:21] ialidzhikov commented on #544
Well, I think it happens relatively rare for now. I cannot be sure when was the first occurrence. @dkistner , I expect you also observed this issue, right?
I now forwarded you 4 occurrences of this issue over Slack (I also resolved 1 occurrence last night).

[2020-10-24 16:24] ialidzhikov commented on #544
/platform azure

[2020-10-24 16:34] prashanth26 commented on #544
Okay, thanks for the hints and info. Will try to look into it and see if I can find something.

[2020-10-26 07:01] dguendisch commented on #544
Seen it here and there as well. @prashanth26 are you interested in particular instances? If yes I'll ping you the next time I see such thing.

[2020-10-26 07:24] prashanth26 commented on #544
Okay yes, @ialidzhikov has shared with me an example of the same. However, couldn't conclude anything useful from it until now.

[2020-10-27 07:02] amshuman-kr commented on #444
@zuzzas We are in the middle of moving from the in-tree providers to the out-of-tree providers. The existing in-tree providers are in different stages of being moved to the out-of-tree approach. As mentioned above by @prashanth26, the out-of-tree approach proposes to use the `lastKnownState` field to be used to maintain state about the state of reconciliation for the `Machine` (which covers provis

[2020-10-27 11:19] zuzzas commented on #444
Nah, everything is clear. I've been unsure about the current policy of changing stuff in the in-tree controller. Thanks, @amshuman-kr.

[2020-10-28 05:57] #121 closed

[2020-10-28 05:57] #529 closed

[2020-10-28 06:40] prashanth26 commented on #537
I just checked the leader election defaults. And it seems to me that the leader election defaults are the same for MCM as that of other Kubernetes controllers.

- https://github.com/gardener/machine-controller-manager/blob/master/pkg/util/client/leaderelectionconfig/config.go#L33-L37
- https://github.com/kubernetes/component-base/blob/c985e940ef8ffde448c517479bf260be98ce596b/config/v1alpha1/defaul

[2020-10-29 13:25] prashanth26 commented on #211
/touch
/priority critical

[2020-11-01 10:07] prashanth26 opened #547 "OOT: Drain failure cases don't seem to respect drain timeouts"
**What happened**:
In OOT, drain failure cases don't seem to respect drain timeouts.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Try to terminate a VM with non-terminating pods and the VM deletion fails even after drain timeout.

**Anything else we need to know**:
And this is because the force deletion timeout computation was messed up.

**E

[2020-11-02 10:48] #547 closed

[2020-11-02 16:59] schrodit opened #549 "Add metrics for node replacement to endusers"
**What would you like to be added**:

When the mcm is replacing a node, due to failing health checks or unhealthy conditions.
It would be great for endusers to have metrics about when and why the mcm has replaced a node.

This could be related to https://github.com/gardener/machine-controller-manager/issues/140 but with the focus on endusers.

cc @prashanth26

[2020-11-03 09:39] rewiko commented on #469
Merged on master, waiting for the release to close this issue.

[2020-11-03 16:41] prashanth26 commented on #469
Hi @rewiko ,

We will make a release of the MCM soon. Positively by early next week. Just FYI.

[2020-11-03 17:49] rewiko commented on #469
We could even close this issue now, up to you :)

[2020-11-04 02:53] hardikdr commented on #469
/close
Then we close it as the [PR](https://github.com/gardener/machine-controller-manager/pull/543) is merged, and release of the change is inevitable ;)

[2020-11-04 02:53] #469 closed

[2020-11-04 09:46] prashanth26 opened #553 "OOT is not respecting the drain timeout flag"
**What happened**:
Drain call was taking in the default drain timeout of 12hours instead of the timeout specified in the flags.

**What you expected to happen**:
Expect the drain timeout to match with the flag.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:

**Environment**:
GCP OOT

[2020-11-04 12:11] #535 closed

[2020-11-05 03:28] hardikdr opened #555 "Add sample cloud-config for testing MCM independently."
**What would you like to be added**:  In order to test MCM independent of Gardener, the created machines has to join the cluster. And this requires the machine to be backed by an appropriate cloud-config.
We should add a sample/bare-minimum cloud-config with place-holders for any of the known-OSes in the documentation, to make the testing easier for the community.

[2020-11-05 03:30] hardikdr commented on #555
@zuzzas Did you prepare any sample cloud-config during your tests back then, which could be used here in documentation? :)

[2020-11-05 08:24] prashanth26 opened #556 "Support cleanup of machines even when the target APIServer is not reachable"
**How to categorize this issue?**

/area ops-productivity
/kind epic
/priority 3

**What would you like to be added**:
MCM to be able to support the cleanup of machines even when the target (shoot) APIServer is not reachable.

**Why is this needed**:
- This would help in cases where we would like to force delete machines deployed for a cluster where bringing up the APIServer seems to be causing is

[2020-11-05 08:24] prashanth26 commented on #556
cc: @vlerenc @dguendisch

[2020-11-06 10:57] hardikdr commented on #456
This should be solved with https://github.com/gardener/machine-controller-manager/pull/527 .
Please feel free to re-open if seen again.
/close

[2020-11-06 10:57] hardikdr commented on #501
This should be solved with #527 .
Please feel free to re-open if seen again.
/close

[2020-11-06 10:57] #501 closed

[2020-11-06 11:02] hardikdr commented on #455
This should be solved with #527
Please feel free to re-open if seen again.
/close

[2020-11-06 11:02] #455 closed

[2020-11-06 11:05] hardikdr commented on #439
/priority normal

[2020-11-06 11:26] hardikdr commented on #549
Related to: https://github.com/gardener/machine-controller-manager/issues/549

[2020-11-10 19:20] vlerenc commented on #211
Changing the roadmap classification as this ticket speaks of "ops" and MCM metrics. This is more internal than end user facing, although one can argue that MCM appears in our exposed monitoring. If you don't agree, please change back @hardikdr . It was just a gut feeling that this is maybe more relevant internally than externally.

[2020-11-11 03:26] hardikdr commented on #211
Sure, sounds good. The major part of it is for internal usage, and only an aspect is for end-users where we want to offer better observability for the worker-machines.

[2020-11-11 04:56] #498 closed

[2020-11-12 07:22] #536 closed

[2020-11-13 12:14] hardikdr commented on #470
/priority critical

[2020-11-14 06:44] vlerenc commented on #470
See also https://github.com/gardener/gardener/issues/87 for a similar problem on Gardener level.

We should develop something like a scoring function that tells us whether we have destabilised a landscape or shoot with an update or not (beyond a certain threshold). Threshold, because we cannot expect all shoots/pods to come up again (what this means is not even clear), so there needs to be some fu

[2020-11-17 08:07] amshuman-kr commented on #470
Just cross-linking https://github.com/gardener/gardener/issues/87#issuecomment-728741920 here. It is just a limited point about how to propagate the information calculated by MCM because it might be relevant at higher levels (extensions, gardenlet).

[2020-11-17 12:23] prashanth26 opened #560 "Add finalizers on machineClasses only when machines referring it"
**What happened**:
Currently, MCM adds finalizers on machineClasses unless the deletionTimestamp is set. And this adds finalizers to machineClass that probably aren't used.

**What you expected to happen**:
MachineClasses to have finalizers only when machines backing them are present.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:
This would

[2020-11-18 11:05] prashanth26 opened #561 "Wait until volume is attached on another node"
**What happened**:
While draining machines currently MCM waits for Pod PV detachments serially one by one. However, it doesn't wait for the PV to be re-attached on another node.

**What you expected to happen**:
- To not continue with the next pod-with-volume before the previous one is not only detached but also (re)attached to whatever node.
- Configure Azure clusters with a longer grace period o

[2020-11-20 08:10] ialidzhikov opened #562 "machine-controller-manager cannot delete Machine when the resource group is already deleted"
**What happened**:

[code]

[code]

**What you expected to happen**:
machine-controller-manager should be able to delete Machine when the resource group is already deleted. For example the azure cloud-controller-manager can handle this case and can delete Service of type LoadBalancer when the underlying resource-group is already deleted.

**How to reproduce it (as minimally and precisely as possib

[2020-11-20 08:11] ialidzhikov commented on #562
/kind bug
/platform azure
/cc @dkistner

[2020-11-20 11:09] prashanth26 opened #563 "Machines are being force drained"
**What happened**:
Machines are being force drained (before drain timeout) instead of a regular drain. This leads to disruption of PDBs and serial PV detachments causing downtimes.

**What you expected to happen**:
Machines to not be force drained before hitting drain timeout.

**How to reproduce it (as minimally and precisely as possible)**:
Take a cluster with several nodes running smoothly over

[2020-11-20 15:37] prashanth26 commented on #563
/assign

[2020-11-22 09:57] yuzp1996 commented on #439
/priority critical

[2020-11-23 02:28] hardikdr commented on #439
Hi @yuzp1996 , are you facing any specific issue wrt this one?
If you are trying to generate the clients/APIs, you can simply run `./hack/generate-code`, the script should still work as expected, and these warnings can be ignored for now.

[2020-11-23 05:28] EmoinLanyu opened #565 "Generated machine class name exceeds 63 character limitation"
**What happened**:
Our user created a Shoot with multiple worker groups, some worker groups have failed to be created.
After investigation, we found that it is caused by exceed of length limitation of `metadata.name` for corresponding machineclass resources.
Our current way of naming it is `shoot--(project_name)--(shoot_name)--(worker_group_name)--(region_id)--(worker_name)`. And Gardener limits:

[2020-11-23 05:39] prashanth26 commented on #565
Hi @EmoinLanyu ,

But in my understanding, the gardener/extensions prepends and creates the machine classes and MCM just uses it. So I guess the fix would've to be at the extension-provider? no?

[2020-11-23 05:42] EmoinLanyu commented on #565
Thanks for the quick reply. And yes, this should be decided on extension provider side. Thanks for pointing out. I'll close this issue then. Many thanks!

[2020-11-23 05:42] #565 closed

[2020-11-24 05:01] #563 closed

[2020-12-01 08:29] dguendisch opened #579 "Avoid draining of Ready Nodes with ReadonlyFilesystem condition being true"
**What would you like to be added**:
Similar to #448 the node draining should be skipped if a node has a ReadOnly filesystem. Note that in this case the Node is in Ready state, "just" the `ReadonlyFilesystem` condition is true.

**Why is this needed**:
To speedup deletion of faulty nodes. A node with a readonly filesystem is effectively broken and draining can hardly succeed but unnecessarily prol

[2020-12-02 04:28] hardikdr commented on #579
We could also consider force-deleting the unhealthy machine in general. The long drain is useful only during rollouts when machines are healthy. For an unhealthy machine, the drain is highly likely to be stuck, though we should do due diligence to make sure of not missing any crucial case.

cc @zuzzas @prashanth26 @AxiomSamarth

[2020-12-09 09:49] prashanth26 commented on #561
/priority critical

[2020-12-16 08:28] prashanth26 opened #583 "Race condition while creating machines in CrashLoopBackoff state"
**What happened**:
The orphan controller always used to ignore machines that are being just in creation. I.e that `status.CurrentStatus.Phase` was not set. However, with the introduction of `CrashLoopBackOff`, and when the first try for machine creation fails and any further retries lead to the possibility of VMs showing up on the consoled prior to updating the machine object and hence is treated

[2020-12-17 08:29] prashanth26 commented on #583
This would be my first cut solution - https://github.com/prashanth26/machine-controller-manager/commit/ff64e478360a6df8b3ba62aca6dc83fca089c6f0. Please feel free to improvise.

cc: @AxiomSamarth

[2020-12-18 06:39] AxiomSamarth commented on #583
I could not see any scope for improvising it, Prashanth. Looks fine :)

[2020-12-18 11:09] prashanth26 commented on #583
Okay. Thanks please take over the changes and test them out.

/assign @AxiomSamarth

[2020-12-22 11:03] zjj2wry opened #584 "mcm least privilege in aws"
**What would you like to be added**:
I want to set the least permissions for machine-controller-manager in AWS. I want to know where I can find AWS IAM policys. thank you very much

**Why is this needed**:

[2020-12-24 14:44] ialidzhikov commented on #544
/priority critical
/assign @dkistner @kon-angelo @prashanth26

[2020-12-25 15:21] prashanth26 commented on #544
cc: @amshuman-kr @AxiomSamarth

[2020-12-29 13:49] rewiko commented on #584
Hello,

So far that's what we are using on our cluster.
[code]

We should probably update the doc, to add IAM roles for each provider. cc: @hardikdr @prashanth26 @ggaurav10

[2021-01-05 02:45] zjj2wry commented on #584
thanks

[2021-01-05 02:45] #584 closed

[2021-01-06 05:19] prashanth26 commented on #584
Hi @zjj2wry,

I think @rewiko pretty much summed it up. Thanks for that. Apologies for the delay in response due to the vacation period.

[2021-01-19 19:03] g-pavlov opened #586 "Register machine-controller-manager as a documentation component"
**How to categorize this issue?**
/area documentation
/kind enhancement
/priority normal

**What would you like to be added**:
Docforge manifest at `.docforge/manifest.yaml` path, describing the documentation that machine-controller-manager contributes structured as it should to be publish at channels such as gardener.cloud.

The manifest declares the docs file/folder structure as-is without chang

[2021-01-20 10:43] lbvffvbl opened #588 "no documentation about providers"
**What would you like to be added**: Hi, I'm using a machine-controller from kubermatic. Your controller interests me because you have metal-stack provider, but I did not found any information on how to use it. same about yandex, vmwarem kubevirt. I cant find machine classes for these providers.

**Why is this needed**:  I can't try to use it because I don't know how to do it. It's a big problem w

[2021-01-20 16:31] hardikdr commented on #588
Hi @lbvffvbl, thanks for opening the issue.
At the moment, all the providers are being moved out of the tree, it'd mean, the provider-specific machine controller will be managed separately.
Please follow the links below for the providers you mentioned:

* Metal-stack: https://github.com/metal-stack/machine-controller-manager-provider-metal
@gerrit can probably help there, with the sample machine-c

[2021-01-22 08:45] #586 closed

[2021-01-25 18:20] ialidzhikov opened #590 "Add support for error codes"
**What would you like to be added**:
Under the gardener org various CRs and API resources support error codes - `Shoot`, `Etcd`, extension CRs.
It will be very helpful if the Machine status also supports error codes.

Currently a Machine that fails to be created for example because of invalid credentials has the following example status:

[code]

There is nothing wrong with the above status but it

[2021-01-25 20:14] ialidzhikov commented on #590
MCM interacts with the cloud provider sdk and it can check the type of the returned error. Based on the returned error type from the cloud provider sdk, it can evaluate whether it is authentication/authorization/quota error and properly set the error code in the status. I believe this approach is more stable than the pattern matching from provider extension controller side over the Machine `status

[2021-01-26 06:35] rfranzke commented on #590
I agree that the error code mapping can be improved because it's somewhat fragile at the moment. We have an open issue about moving the error code mapping out of g/g and to the provider extensions, but I doubt that this would change the way how the mapping is done (string-based).
In the overall picture, assuming that MCM would support the error codes, the problem would still be that the provider e

[2021-01-29 06:05] #583 closed

[2021-02-02 06:55] prashanth26 commented on #544
After discussion with @MSSedusch, it was decided that the possibility of having parallel create/delete calls due to a bug on the orphan VM handling logic might be increasing the occurrence of this issue. The same has been fixed by https://github.com/gardener/machine-controller-manager/pull/589.

Post this we keep a watch on this issue and see if it reoccurs.

[2021-02-03 07:56] prashanth26 commented on #544
[This PR](https://github.com/gardener/machine-controller-manager/pull/589) should fix this issue. Please reopen if seen again, will have to be investigated from Azure side in that case.

/close

[2021-02-03 08:01] prashanth26 commented on #537
The leader elections seems alright for now. Seems like a temporary glitch. Please reopen if you observe the issue again.

/close

[2021-02-03 08:01] #537 closed

[2021-02-03 12:10] vlerenc commented on #561
It would be great to get this implemented. Could someone outside the out-of-tree work do that @prashanth26 ?

Basically, the idea is to not only wait for detach and “hope for the best”, i.e. that we have sufficiently “slowed down” the progress, so that slow infrastructures can cope, but to also track whether the volume got attached again. There are problems with that, though:
- There is no guarant

[2021-02-03 13:06] vpnachev commented on #561
With the CSI migration, there is a resource named [VolumeAttachment](https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#volumeattachment-v1-storage-k8s-io) that holds some information about the attachment state of a volume to a node. But this should be additionally researched whether it is reliable information for the MCM to decide if all volumes are attached successfu

[2021-02-03 14:10] prashanth26 commented on #561
Yes @vlerenc. I think one of us should pick this up. I will discuss this with the team and try to prioritize this (hence changing the milestone back to Q1).

I remember in the past @amshuman-kr had observed some inconsistencies with the volume attachments (flapping of state) on the node objects. However, this is something that can be explored while making this change.

[2021-02-09 10:43] prashanth26 commented on #544
We see this issue again, hence reopening the issue.

[2021-02-12 04:24] prashanth26 commented on #579
/exp beginner

[2021-02-12 04:28] prashanth26 commented on #561
/assign

[2021-02-12 05:15] prashanth26 commented on #448
/exp beginner

[2021-02-12 05:17] prashanth26 commented on #367
Haven't observed this off-late. And probably can be tackled in this issue - https://github.com/gardener/machine-controller-manager/issues/468.

/close

[2021-02-12 05:17] #367 closed

[2021-02-12 05:17] prashanth26 commented on #48
/exp beginner

[2021-02-17 09:20] prashanth26 commented on #544
These are the latest logs
[code]

From the look of the logs, seems like the `NICFuture.WaitForCompletionRef()` doesn't seem to be respected. This is used during [creation](https://github.com/gardener/machine-controller-manager/blob/master/pkg/driver/driver_azure.go#L525 and [deletion](https://github.com/gardener/machine-controller-manager/blob/master/pkg/driver/driver_azure.go#L1045). I guess when

[2021-02-17 09:20] AxiomSamarth commented on #560
/assign @AxiomSamarth

[2021-02-17 09:32] prashanth26 commented on #561
Some points on the discussions made offline.

From the initial looks of it, looks like `VolumeAttachments` isn't available for all clusters. Is probably CSIDriver specific and k8s version (?), we will have to handle the other cases without CSI drivers differently (could be as simple as waiting for a constant additional timeout).

I will try to dig deeper about `VolumeAttachments` resources mention

[2021-03-03 09:34] prashanth26 commented on #544
We have confirmed that the `NICFuture.WaitForCompletionRef()` doesn't seem to be respected in deletion for sure. As we can see this call returns within 10s of creation (with successful HTTP response), however azure activity monitor logs shows success only after 2mins.

And in case of creatiton, this operation doesn't make sense as the azure SDK doesn't provide this handle. So we have reached out t

[2021-03-09 09:54] sebarys commented on #27
Hi,
We're having similar scenario: we would like to run stage/test cluster using AWS Spot fleet to reduce costs. Is there any pland to deliver it in near future?
Thanks in advance for response :)

[2021-03-10 07:06] amshuman-kr commented on #27
It is certainly part of the roadmap, but we have a couple of other things (like improving draining of pods across cloud providers) in the plan before we can get to it.

[2021-03-16 14:29] wgabsi88 opened #595 "Orphaned AWS Route table block VPC deletion afterwards"
**What happened**:
There was a leaked route table which prevent the deletion of the VPC
**What you expected to happen**:
The cluster deletion should delete all AWS resources in order to successfully delete the cluster
**How to reproduce it (as minimally and precisely as possible)**:
it occurs multiple times in our pipelines clusters and developer clusters deletion, but as sporadic issue
**Anything

[2021-03-16 15:28] prashanth26 commented on #595
HI @wgabsi88 ,

The `machine-controller-manager` component doesn't create any AWS routes (table entries). I think you meant to open this issue on another repo? Also can you please provide more details on the issue and any specific steps to reproduce this?

[2021-03-16 15:51] dguendisch commented on #595
I guess the correct repo from gardener side would be https://github.com/gardener/terraformer.
We see this issue in gardener integration tests regularly as well but I think it's not really solvable here but only in upstream terraform.
I think @ialidzhikov already created a bunch of issues upstream.

[2021-03-16 15:56] wgabsi88 commented on #595
Hi @prashanth26, @dguendisch ,
apologies for choosing the wrong component, i will close the issue and look in terraformer repos for similar issues.

[2021-03-16 15:56] #595 closed

[2021-03-16 15:58] dguendisch commented on #595
Maybe @ialidzhikov can point you to the resp. upstream issue(s).

[2021-03-17 06:33] ialidzhikov commented on #595
The corresponding issues on upstream side:
- https://github.com/hashicorp/terraform-provider-aws/issues/12073
- https://github.com/hashicorp/terraform-provider-aws/issues/12829

[2021-03-22 07:43] AxiomSamarth commented on #556
/assign @AxiomSamarth

[2021-03-30 04:03] prashanth26 opened #598 "Nodes created with non matching machine class tags aren't orphan collected"
**What would you like to be added**:

Add an annotation/label that the MCM does not manage the node. This way higher-level controllers can filter out those nodes during various checks.

**Why is this needed**:

The logic for orphan VM deletion is currently based on tags. We try to filter out all VMs matching with certain tags on the VM (cluster tag and role tag). And if/when we find a VM not match

[2021-03-30 05:30] prashanth26 commented on #588
I have updated the [Readme.md](https://github.com/gardener/machine-controller-manager/blob/master/README.md) to have links to all known OOT provider implementors for MCM.

/close

[2021-03-30 05:31] #588 closed

[2021-03-30 05:36] prashanth26 commented on #579
To consider [the following considerations](https://github.com/gardener/machine-controller-manager/pull/450#issuecomment-619503726) while implementing this solution.

[2021-03-30 05:36] prashanth26 commented on #448
Closing this is favour of https://github.com/gardener/machine-controller-manager/issues/579#issuecomment-809925138

[2021-03-30 05:37] #448 closed

[2021-03-30 05:37] prashanth26 commented on #579
/priority 3

[2021-03-30 05:44] prashanth26 commented on #555
/priority 4
/effort 1d

[2021-03-30 05:46] prashanth26 commented on #211
Adding feedback from https://github.com/gardener/machine-controller-manager/issues/549

[  ] Add metric to let end-users know why the mcm has replaced a node.

[2021-03-30 05:47] prashanth26 commented on #549
/close in favour of https://github.com/gardener/machine-controller-manager/issues/211#issuecomment-809929347

[2021-03-30 05:47] #549 closed

[2021-03-30 05:49] prashanth26 commented on #528
/close in favour of https://github.com/gardener/machine-controller-manager/issues/211#issuecomment-809929347

[2021-03-30 05:49] #528 closed

[2021-03-30 06:16] prashanth26 commented on #522
Hi @zuzzas ,

Are any of the above mentioned issue still troubling you? If not i would like to close this issue.

[2021-03-30 06:21] prashanth26 commented on #512
Was just seen once. Haven't seen this repeating.
/close please reopen if seen again

[2021-03-30 06:21] #512 closed

[2021-03-30 06:40] prashanth26 commented on #561
This issue should address some points here - https://github.com/gardener/machine-controller-manager/issues/470#issuecomment-642583382.

[2021-03-30 10:55] Gerrit91 commented on #390
With metal-stack we have end-users working quite a lot with local volumes and due to this reason our `health-timeout` is configured high. We do this as a safety measure to prevent user data from getting deleted in case something goes terribly wrong in the landscape for a longer period of time.

As long as we do not offer a wider spectrum of cloud storage for our cloud solution, we would also be ve

[2021-03-30 11:25] prashanth26 commented on #579
/assign
Assigning to myself, eventually assigned to Himanshu.

[2021-03-30 11:37] prashanth26 commented on #561
Related - https://github.com/gardener/machine-controller-manager/issues/468.

[2021-03-30 19:25] AxiomSamarth opened #599 "Some additional checks/code to be added across all out of tree providers"
**What would you like to be added**:
This is the list of items to be added to all out of tree providers

- [x] Check to validate if the MachineClass in the scope is the MachineClass for the corresponding cloud provider
- [x] The deployment YAMLs and MachineClass YAMLs in the example folder to be updated (with all the useful fields. For example - `provider`)

**Why is this needed**:

[2021-04-01 07:44] prashanth26 commented on #544
One of the suggested improvements for the fix was to get the `GETNICs()` API call to confirm NIC deletions. We have implemented the same here - https://github.com/gardener/machine-controller-manager/pull/594. We hope that this fix improves these errors, however, the underlying issue still occurs at Azure. We have raised a ticket to know the reason for the same.

[2021-04-01 11:25] AxiomSamarth commented on #599
Progress checklist

- [x] MCM-Provider-Azure
- [ ] MCM-Provider-AWS
- [ ] MCM-Provider-Openstack
- [ ] MCM-Provider-GCP
- [ ] MCM-Provider-Alicloud
- [ ] MCM-Provider-vSphere
- [ ] MCM-Provider-Yandex

[2021-04-01 15:24] deitch opened #600 "could not apply CRDs"
**What happened**:

I tried to apply the CRDs, in order to test individual providers. I got a warning and an error:

[code]

**What you expected to happen**:

it would apply them without error

**How to reproduce it (as minimally and precisely as possible)**:

1. Start a cluster (I used k3d v4.4.0, which uses cluster 1.20.5)
2. `kubectl apply -f kubernetes/crds/`
3. watch errors

**Anything else w

[2021-04-01 15:25] deitch commented on #600
Also running the MCM gives errors (unsurprisingly):

[code]

[2021-04-01 15:36] prashanth26 commented on #600
Hi @deitch ,

This is an issue @AxiomSamarth had already looked into. He had proposed a fix here - https://github.com/gardener/machine-controller-manager/pull/592. I am unsure what the status is, he can probably give more details on this.

[2021-04-01 15:41] deitch commented on #600
Darn! And I thought I had found a new one. 😄

Thanks

[2021-04-01 15:41] deitch commented on #600
In the meantime, how do I test `MachineDeployment`?

[2021-04-01 15:43] prashanth26 commented on #600
Does removing this part of the CRD fix it ? - https://github.com/gardener/machine-controller-manager/pull/592/files#diff-b96da678ae66c7304b1f784d2d9e3d405a5ddcb1ba251f7c47e04aefdef17a80L62-L64

[2021-04-01 15:51] deitch commented on #600
Indeed, it does! I still get the deprecation warning, but it accepts it.

[code]

[2021-04-05 13:27] AxiomSamarth commented on #600
Hey @prashanth26,

As Hardik has mentioned, maybe the autogeneration of the CRDs, is reverting it. So, even if we change the CRD file in the repo, it may get updated. I am not sure how I can fix this autogeneration.

[2021-04-06 04:23] prashanth26 commented on #600
We might have to update the k8s version (to the latest) in our vendors to permanently fix this issue - https://github.com/gardener/machine-controller-manager/issues/402. Let's close this PR and pick this issue on priority.

[2021-04-06 08:47] ialidzhikov commented on #562
/reopen

[2021-04-06 08:54] ialidzhikov commented on #562
There is one more case that needs to be resolved. It occurs on deletion of Machine that still does not have a `providerID`.

In `pkg/controller/machine.go` the `machineDelete` func has a special handling when the provideID does not exists - see https://github.com/gardener/machine-controller-manager/blob/42c0dc4dbe0077867b109334d428e2fe64082e4d/pkg/controller/machine.go#L746-L768. It tries to list

[2021-04-06 11:20] ialidzhikov commented on #562
To have a proper fix for the issue described above, I think we should introduce codes like `InstanceNotFound` as it is done in the upstream cloud-controller-manager. See for example https://github.com/kubernetes/kubernetes/blob/b0abe89ae259d5e891887414cb0e5f81c969c697/staging/src/k8s.io/legacy-cloud-providers/azure/azure_vmss.go#L693-L707.

This will allow the caller of `driver.GetVMs` to properly

[2021-04-06 11:20] ialidzhikov commented on #562
/assign @prashanth26

[2021-04-06 15:47] prashanth26 commented on #562
Hi @ialidzhikov ,

Thanks for reopening this issue and reopening a hidden bug. I guess if we are fixing this, it would make more sense to move this fix as a part of the OOT. Also, do you have an idea of how important this fix is and how much it impacts us? I ask this as there are several priority fixes pending on MCM/Autoscaler. So just wanted to understand the urgency to prioritize this.

cc : @A

[2021-04-06 19:22] ialidzhikov commented on #562
It is rather a corner case but still needs a fix.

/priority 3

[2021-04-07 03:02] prashanth26 commented on #562
Okay sure. Thanks, will keep it in mind.

[2021-04-07 07:45] dkistner commented on #562
Should we create an issue here https://github.com/gardener/machine-controller-manager-provider-azure/issues to track that?

[2021-04-07 08:45] prashanth26 commented on #579
/unassign

Paused in favour of https://github.com/gardener/machine-controller-manager-provider-aws/issues/24

[2021-04-07 08:46] prashanth26 commented on #561
/unassign
Paused in favour of other activites

[2021-04-08 10:40] prashanth26 commented on #599
/reopen

[2021-04-08 10:44] AxiomSamarth commented on #599
Oh sorry! I guess, my merge in the Azure OOT closed this issue too. Thanks for reopening Prashanth. A few more are yet to be done and shall be completed soon.

[2021-04-14 08:04] AxiomSamarth commented on #599
/reopen

[2021-04-21 06:40] plkokanov opened #602 "Machines are restored very slowly during Control Plane Migration"
**What happened**:
When we run [Control Plane Migration](https://github.com/gardener/gardener/blob/master/docs/proposals/07-shoot-control-plane-migration.md#leader-election-and-control-plane-termination), when the worker has to be restored on the __Destination Seed__ the following happens:
The `MachineDeployments`, `Machines`, `MachineSets` and `MachineClasses` are deployed while MCM is not runnin

[2021-04-21 06:40] plkokanov commented on #602
/assign

[2021-04-23 04:08] #599 closed

[2021-04-28 06:58] AxiomSamarth opened #603 "Move all validation to validating webhooks"
**What happened**:
When the `MachineClass` of an already created `Machine`/`MachineDeployment` is updated to an invalid state, the deletion of such machines gets stuck in `Terminating` state.

**What you expected to happen**:
Machine deletion to succeed.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a valid `MachineClass`
2. Create a `MachineDeployment` consuming the

[2021-04-28 13:00] timuthy commented on #603
The update of MachineClass to throw an error & abort the update of MachineClass

Invalid `MachineClasses` may already exist in the cluster, so we can expect that a deletion of a `terminating` machine succeeds rather than throwing an update error for the machine class. You would need a `ValidatingWebhook`, so I'm not sure if you plan to add one to MCM in the future.

[2021-04-28 14:11] AxiomSamarth commented on #603
You are right, @timuthy I discussed with @prashanth26 and he too mentioned that we want to move all the validation to admission webhooks eventually. Something which we haven't gotten to yet. This shall facilitate the deletion of the machine even with an invalid `MachineClass`.

I have updated the bug detail's *What you expect to happen section*

[2021-05-04 13:31] prashanth26 commented on #579
/assign
To himanshu.

[2021-05-05 08:57] prashanth26 commented on #561
/assign

[2021-05-05 08:58] prashanth26 commented on #561
- [x] Changes on Volume attachments
- [x] Changes required for timeout
- [ ] Fixing the mock tests to return correct values for listeres
- [ ] Add unit tests

[2021-05-06 03:51] prashanth26 opened #604 "☂️ Improve health checks based on node conditions"
## Context

Currently there are node conditions added to the node by different actors like kubelet , Node Problem Detector(NPD), Network Problem Detector. But MCM acts only on a few by default and not that effectively.

Customer could update the conditions on shoot level from [this section](https://github.com/gardener/gardener/blob/3c8876796d99045348370dab6d4468ee137444cb/example/90-shoot.yaml#L13

[2021-05-06 12:26] prashanth26 opened #606 "Print machine-name, provider-id and node-name while logging messages"
**What would you like to be added**:

There are providers where the machine and node names are different. It gets difficult to identify which operation is running for a given node.

**Why is this needed**:

Ease of debugging

Eg: In logs [like this](https://github.com/gardener/machine-controller-manager/blob/master/pkg/util/provider/machinecontroller/machine.go#L340) it would be good to print the

[2021-05-06 12:31] prashanth26 commented on #606
/assign to himanshu

[2021-05-12 12:20] #579 closed

[2021-05-13 08:49] #606 closed

[2021-05-18 15:24] prashanth26 commented on #544
/reopen
As we see this issue again. We are trying to gain some clarity from Azure support colleagues.

[2021-05-18 17:23] vlerenc commented on #544
😞

[2021-05-19 07:53] prashanth26 opened #610 "MachineClass finalizers missing on migrated machine objects"
**What happened**:
Azure machines were found with a few orphan NICs. On investigation, the issue was identified to machines not having finalizers after migration leading to quick deletion of machines.

**What you expected to happen**:
The machine to re-add finalizer when not found.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know**:
cc: @plkokanov

[2021-05-19 07:54] prashanth26 commented on #610
/assign

[2021-05-19 08:56] #610 closed

[2021-05-20 09:44] jolusch commented on #494
Any updates on this topic @MSSedusch @hardikdr ? We run again into this issue while deleting shoots (about 60 of our pipeline shoots currently affected)

[2021-05-25 10:31] jsravn opened #613 "AWS Machine Class name validation doesn't allow ".""
**What happened**:
[code]

**What you expected to happen**:
It should not fail validation. Kubernetes object names are allowed to have `.` in them.

**How to reproduce it (as minimally and precisely as possible)**:
Create a machine class with a `.` in the name.

**Anything else we need to know**:
I made an issue for this because it's unclear if this is intentional or not. I can't see a reason for

[2021-05-25 12:16] prashanth26 commented on #613
Hi @jsravn .

I don't think this was intentional. It's probably just something we overlooked in the past. I think it makes sense to align the validation similar to k8s regexp.

[2021-05-28 05:30] himanshu-kun opened #616 "Include Secrets in controlCoreObjects rather than targetCoreObjects"
**What would you like to be added**:
In file [`machine_test.go`](https://github.com/gardener/machine-controller-manager/blob/ed6d2380902d9a15a82912e53e31ee609a9d4dc7/pkg/util/provider/machinecontroller/machine_test.go#L404) , secrets should be included in controlCoreObjects (which are presently in targetCoreObjects) and `controlCoreClient` should be used to `Get()` the secrets wherever applicable.

[2021-05-28 05:30] himanshu-kun commented on #616
/invite @prashanth26 @AxiomSamarth

[2021-05-28 05:41] AxiomSamarth commented on #616
Thank you, @himanshu-kun for raising this 👍🏻 That is a valid observation. Please raise a PR with the fix.

[2021-05-31 06:37] prashanth26 commented on #494
Hi @jolusch ,

In past, we have usually observed that the default creation time for machines of about 20mins is enough in most cases, however, yes in the case of very large machines we have seen it to cause issues. You could try to increase the creation Timeouts for your workers by setting this [creation Timeout flag](https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml#L121) on

[2021-05-31 07:00] prashanth26 commented on #494
I don't think this is an issue at MCM. On Azure we do not set any timeout VM creations, however, we do have a timeout on the maximum time given for the VM to register itself as a node after VM creation. But looking at the code I suspect there is nothing much we can do from [MCM here](https://github.com/gardener/machine-controller-manager-provider-azure/blob/master/pkg/azure/utils.go#L501-L522) as

[2021-05-31 07:16] prashanth26 commented on #616
Nice catch.

@himanshu-kun - You mean [this right](https://github.com/gardener/machine-controller-manager/blob/ed6d2380902d9a15a82912e53e31ee609a9d4dc7/pkg/util/provider/machinecontroller/controller_suite_test.go#L488)?

[2021-05-31 07:59] himanshu-kun commented on #616
Yes @prashanth26
I was abt to discuss this in the meeting today
I think we need to setup a `coreControlSharedInformer` , which is not there currently.

[2021-06-10 07:59] #560 closed

[2021-06-10 08:00] #598 closed

[2021-06-10 08:15] AxiomSamarth opened #619 "Replace integration test with unit test to check addition of freeze label on scale up"
**What would you like to be added**:
Replace integration test with unit test to check addition of freeze label on sudden scale up, followed by scale down.

**Why is this needed**:
Looks like the overshoot timeout in the integration tests is introducing race condition, leading to the failure of the integration tests.

[2021-06-10 12:32] #619 closed

[2021-06-14 05:30] prashanth26 commented on #561
Fixed with https://github.com/gardener/machine-controller-manager/pull/608.
/close

[2021-06-14 05:30] #561 closed

[2021-06-14 05:38] prashanth26 commented on #522
2/3 of the above are fixed by mentioned PR in the issue description.

Couldn't reproduce this one.
/close please reopen with details if you still face issues.

[2021-06-14 05:38] #522 closed

[2021-06-14 06:01] prashanth26 opened #621 "Move drain logic into a separate controller"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
We would like to move out the drain logic of the provider machine controller into a separate controller. With this draining logic would no longer be a part of the core machine reconcile logic It would rather be a different controller taking care of this logic. The machine c

[2021-06-14 06:03] prashanth26 commented on #48
/close in favour of https://github.com/gardener/machine-controller-manager/issues/621

[2021-06-14 06:03] #48 closed

[2021-06-14 06:05] prashanth26 opened #622 "Remove deprecated in-tree code"
**How to categorize this issue?**

/area dev-productivity
/kind cleanup
/priority 3

**What would you like to be added**:
Get rid of all deprecated in-tree machine controller code

- [x] Unused CRDS and API objects
- [x] Deprecated controller code
- [x] Unused metrics

**Why is this needed**:
To get rid of os unused code.
Depends on completion of https://github.com/gardener/machine-controller-mana

[2021-06-14 06:07] prashanth26 commented on #216
Adopt the test framework to the out of tree code style.

[2021-06-14 06:07] prashanth26 commented on #178
/close
The migration to OOT providers is complete.

However, there are small clean up tasks leftover like

1. Move drain controller to a separate controller - https://github.com/gardener/machine-controller-manager/issues/621
2. Get rid of the deprecated in-tree machine controller - https://github.com/gardener/machine-controller-manager/issues/622
3. Adopt the integration tests - https://github.com

[2021-06-14 06:07] #178 closed

[2021-06-15 13:05] vlerenc commented on #621
/remove internal @prashanth26 I hope it's OK if I remove the roadmap label. With `internal` we rather mean of central importance to Gardener as a whole. All teams have (team-) internal tasks, but those are not reported in the global roadmap or else it becomes too large. Things like improved-drain-of-pods-with-volumes-v2 is `internal` and rightly so, because it has such a huge impact to everybody.

[2021-06-15 13:20] prashanth26 commented on #621
Sure Vedran. No problem, sounds good to me.

[2021-06-17 07:26] prashanth26 opened #625 "Delay in machine reconcile for machineClasses without finalizer"
**How to categorize this issue?**

/area delivery
/kind regression
/priority 2

**What happened**:
With the new changes on [finalizers for machineClass](https://github.com/gardener/machine-controller-manager/pull/593). The machine creations are now delayed until a force re-enqueue of machines.

**What you expected to happen**:
Machines to be created immediately after machine class finalizer is add

[2021-06-17 12:26] #625 closed

[2021-07-20 07:12] #216 closed

[2021-07-21 04:40] prashanth26 commented on #616
Fixed by https://github.com/gardener/machine-controller-manager/pull/617.
/close

[2021-07-21 04:40] #616 closed

[2021-07-21 04:46] prashanth26 commented on #544
We have done the best from our code by adding double checks. However, the Azure API doesn't seem to adhere to expected behaviour which has been confirmed by the MS Azure team.

[2021-07-21 04:50] prashanth26 commented on #603
/title Move all validation to validation webhooks

[2021-07-21 04:53] prashanth26 commented on #602
Fixed by https://github.com/gardener/gardener/pull/3970.
/close

[2021-07-21 04:53] #602 closed

[2021-07-21 05:05] prashanth26 commented on #483
/title Switch to exponential backoff while creating/deletion machines

[2021-07-21 05:12] prashanth26 commented on #468
To be fixed with https://github.com/gardener/machine-controller-manager/issues/621

[2021-07-21 05:21] prashanth26 commented on #444
This has been taken care with [this field](https://github.com/gardener/machine-controller-manager/blob/master/pkg/apis/machine/v1alpha1/machine_types.go#L106-L109).
/close in favour of it.

[2021-07-21 05:21] #444 closed

[2021-07-21 05:30] prashanth26 commented on #443
Close in favour of https://github.com/gardener/machine-controller-manager/issues/211#issuecomment-809929347.

[2021-07-21 05:30] #443 closed

[2021-07-21 05:33] prashanth26 commented on #437
Most of these issues have been resolved with - https://github.com/gardener/machine-controller-manager/pull/460.
/close

[2021-07-21 05:33] #437 closed

[2021-07-21 05:34] prashanth26 commented on #425
This issue should be resolved by https://github.com/gardener/machine-controller-manager/commit/423962aba5504c18d2604bf534ab4bb5dd4053cb. Please reopen if you see it again.
/close

[2021-07-21 05:34] #425 closed

[2021-07-21 05:42] prashanth26 commented on #392
Related to https://github.com/gardener/autoscaler/issues/27.

[2021-07-21 08:05] prashanth26 commented on #603
Close in favour of https://github.com/gardener/machine-controller-manager/issues/43.
/close

[2021-07-21 08:05] #603 closed

[2021-07-21 08:16] prashanth26 opened #630 "Automated for vendoring MCM libraries for provider repos"
**How to categorize this issue?**

/area dev-productivity
/kind enhancement
/priority 2

**What would you like to be added**:
With this feature, we would like to automate the vendoring PRs.

**Why is this needed**:
Currently, we have to manually vendor MCM libraries on providers which becomes tedious.

[2021-07-21 08:33] prashanth26 opened #631 "Adopt integration tests to OOT providers"
**How to categorize this issue?**

/area testing
/kind test
/priority 2

**What would you like to be added**:
We have an integration tests framework on GoLang enabled with https://github.com/gardener/machine-controller-manager/pull/618. However, this is yet to be adopted by the OOT providers. This is an umbrella issue to track the migrations.

- [x] AliCloud
- [x] AWS
- [x] Azure
- [x] GCP
- [ ] O

[2021-07-22 04:44] prashanth26 opened #633 "Node name for old and new VMs are same"
**How to categorize this issue?**

/area quality
/kind bug
/priority 2

**What happened**:
There was a cluster with many nodes (~350) and a `/22` subnet (allowing 1024) nodes. During a rollout, a new node was assigned a private DNS name as the old just deleted node (4mins back). There was an issue in the control plane which caused the old node to hang around for long after deletion.

This lead to

[2021-07-27 10:36] hoeltcl opened #634 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2021-07-28 05:59] AxiomSamarth opened #635 "In-place Machine updates"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority 2

**What would you like to be added**:
The issue proposes in-place updates for machines where in the machine spec should be updated without the machines being replaced by MCM.

#751 is a sub-issue of this.

**Why is this needed**:

[2021-07-28 10:42] AxiomSamarth commented on #635
One such implementation is done with Machine Controller Manager Provider AWS ([Reference PR](https://github.com/gardener/machine-controller-manager-provider-aws/pull/39)) to solve the [issue](https://github.com/gardener/machine-controller-manager-provider-aws/issues/36) to support Calico's CrossSubnets feature.

[2021-07-28 11:03] prashanth26 commented on #634
Hi @hoeltcl ,

These vulnerabilities have been assesed. Please reopen the issue if you still have any concerns.

[2021-07-28 11:03] #634 closed

[2021-07-29 05:36] #402 closed

[2021-08-03 16:46] AxiomSamarth opened #636 "Improvements in the Integration Test Suite"
**How to categorize this issue?**

/area testing
/kind enhancement
/priority 3

**What would you like to be added**:
- [x] Update the [deprecated API Version](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#customresourcedefinition-v122) of the [CRD files](https://github.com/gardener/machine-controller-manager/tree/master/kubernetes/crds) in the MCM repo from `v1beta1` to `v1`.
-

[2021-08-04 10:11] AxiomSamarth commented on #636
Keeping the issue open until #637 is merged.

[2021-08-05 05:11] #636 closed

[2021-08-11 07:46] himanshu-kun opened #638 "Improvements in IT Machine Controller Manager"
**How to categorize this issue?**

/area testing
/kind enhancement
/priority 3

**What happened**:
Improvements in IT-suite required
**What you expected to happen**:
1. integration-test docs to run integration test locally should be modified to include new changes
2. v1 CRDs needs to be used
3. MaxSurge of test-machineDeployments created should be increased to 2 as for Azure the test would timeout

[2021-08-11 07:56] prashanth26 commented on #638
Hi @himanshu-kun ,

I think the error is right. However, I think the `clusterName` variable is used in several other places for targetting the control cluster. Should it then make sense to have two variables `controlClusterName` and a `targetClusterName` for different use cases and use the `targetClusterName` for [this call](https://github.com/gardener/machine-controller-manager/blob/master/pkg/te

[2021-08-11 07:59] himanshu-kun commented on #638
yeah sorry for that @prashanth26  I would link up the lines surely from next time

[2021-08-11 08:00] prashanth26 commented on #638
Sorry, i didn't look through the code. So i think you mean that [this vairbale] https://github.com/gardener/machine-controller-manager/blob/master/pkg/test/integration/common/framework.go#L701 should've been `target` inside of control right?

[2021-08-11 08:04] himanshu-kun commented on #638
yes I wanted [this](https://github.com/gardener/machine-controller-manager/blob/6b9d5b4f6a87054aac63137b16ff3e36fdf946e4/pkg/test/integration/common/framework.go#L701) line to be `clusterName, err := c.TargetCluster.ClusterName()`

[2021-08-11 08:07] prashanth26 commented on #638
Sure I think you can make this change and raise a PR on master. We can cherry-pick and make a release 0.40.1 with this. However, just cross-check with Jakeer's AWS PR to see if this change is as desired and shouldn't affect the AWS PR.

[2021-08-13 06:01] AxiomSamarth commented on #638
More improvements/refactoring

- Introduce better AND logic here
- Remove the check of MC & MCM image as the validation has been done before the method call
- Make the Image name prefix a global variable

Changes are done via [this](https://github.com/himanshu-kun/machine-controller-manager/pull/1) PR

[2021-08-13 06:14] AxiomSamarth commented on #638
This is the function in MCM IT Suite ([link](https://github.com/gardener/machine-controller-manager/blob/6b9d5b4f6a87054aac63137b16ff3e36fdf946e4/pkg/test/integration/common/helpers/cluster.go#L67-L85))

[code]

Scenario -
 - If this test is subject to a `shoot` which is acting as both `control` & `target` cluster and if the `shoot` (hypothetically) has a namespace `shoot--<project-name>--<shoot-n

[2021-08-13 06:30] himanshu-kun commented on #638
Yes nice catch @AxiomSamarth , we can add an `if` condition here for the same

[2021-08-13 09:00] AxiomSamarth commented on #638
Here in [this](https://github.com/himanshu-kun/machine-controller-manager/blob/e14d453347bd3dc5d9c2b17b0e2d86449283a9f8/pkg/test/integration/common/framework.go#L641-L651) code section, an MCM deployment is created in the control cluster because the control cluster is not a seed. Which means, probably it is a `Shoot` which will have its own MCM deployment in the `Shoot namespace` of its `Seed`.

T

[2021-08-13 16:29] himanshu-kun commented on #638
Yes @AxiomSamarth you are right.. if thats the case even [here](https://github.com/himanshu-kun/machine-controller-manager/blob/e14d453347bd3dc5d9c2b17b0e2d86449283a9f8/pkg/test/integration/common/framework.go#L655-L658) we don't need the `if` condition to check that control cluster is seed of target cluster , because we need to scaleDown the machineDeployment in seed of target cluster in all the

[2021-08-19 10:29] AxiomSamarth commented on #638
1. There should be a check [here](https://github.com/gardener/machine-controller-manager/blob/6b9d5b4f6a87054aac63137b16ff3e36fdf946e4/pkg/test/integration/common/framework.go#L470-L475) to validate if path of MachineClass v1 is supplied or not for more graceful execution.

2. Today, if the control cluster is a seed cluster then the MachineClass from the target namespace is reemployed & patched wi

[2021-08-24 13:25] timuthy opened #642 "Error when updating Machine status"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:
The machine status cannot be updated for the following reason:

[code]
The issue disappears as soon as the `lastHeartbeatTime` of the respective node conditions are maintained.

**What you expected to happen**:
The status update should work from the beginning.

**How to reproduce it (as minimally and prec

[2021-09-13 05:27] #638 closed

[2021-09-29 08:51] prashanth26 commented on #633
/assign @himanshu-kun

[2021-09-30 08:32] hoeltcl opened #646 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2021-09-30 09:05] prashanth26 commented on #646
/assign @AxiomSamarth @himanshu-kun

[2021-10-11 09:07] #633 closed

[2021-10-20 10:11] himanshu-kun opened #649 "☂️ Expose additional machineclass fields in shoot API for users"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority 3

**What would you like to be added**:
exposing any fields of machine class for the user to configure.
**Why is this needed**:
Many times the user will want to configure more and more options of the underlying MachineClass.
Example :
Gardener supports live migration on GCP , which automatically migrates your instance

[2021-10-25 14:39] timuthy opened #798 "[Extensions] Improve maxSurge/maxUnavailable handling for multi-zone worker pools"

[2021-11-02 11:48] AxiomSamarth commented on #622
@dkistner There is MCM In-Tree code which we would like to deprecate. As the MCM Out of Tree for all providers are available today. I want to understand the process followed in Gardener to deprecate any such dead/debt code?

[2021-11-02 16:15] stoyanr opened #650 "Finalizer on credentials secrets is sometimes not properly removed when their machine classes are deleted."
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:
For some clusters it was observed that MCM was deleted but the `cloudprovider` secret with the finalizer `machine.sapcloud.io/machine-controller` was still present. See also gardener/gardener/issues/4947.

There are actually 2 issues here:
* Why is the finalizer not properly removed by MCM after the all m

[2021-11-02 17:40] himanshu-kun commented on #646
done
/close

[2021-11-02 17:40] #646 closed

[2021-11-04 07:36] #390 closed

[2021-11-04 15:56] danielfoehrKn commented on #621
This is also important if the `machineDrainTimeout` is changed during an **ongoing** drain e.g in Gardener for a worker pool.
The only thing that helps is currently is to restart the MCM.

[2021-11-05 09:19] ialidzhikov opened #651 "machineset controller: endless retries on error and original error is not logged/showed"
**How to categorize this issue?**

/area ops-productivity usability
/kind bug
/priority 3

**What happened**:
1) While checking MCM logs we observed that there is endless recursion in the `updateMachineSetFinalizers` func:

https://github.com/gardener/machine-controller-manager/blob/f4b0d8ade0f0a9efea67f51a9ede4275ba400201/pkg/controller/machineset.go#L718-L733

Logs that prove the endless recursi

[2021-11-11 10:07] Gerrit91 opened #657 "Safety Controller may falsely assume VM orphans and throws machines away"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:

There seems to be a chance of the MCM throwing away all worker nodes of a cluster due to orphan deletion. In our case, this happened directly after restart of the machine-controller-manager while the seed cluster's kube-apiserver was unavailable. The MCM then assumed existing machines as orphans and dele

[2021-11-12 07:49] AxiomSamarth commented on #657
Hey Gerrit,

Whenever the API server of the control cluster or the target cluster is down/unreachable MCM freezes Machine Controller and also freezes the machineDeployment object so that there are no new machines created. However, the machine deployments will still be processed for scale down events. I will try to reproduce, the scenario where the APIServers of the control cluster is down and also

[2021-11-12 07:52] AxiomSamarth commented on #657
@Gerrit91 Also, would it be possible for you. to share with us the log dump of MCM from the day this happened?

[2021-11-12 10:27] Gerrit91 commented on #657
Hey @AxiomSamarth,

till now I was unable to reproduce the issue even though I tried to reconstruct the events that happened on that day. :(

Here is the full log: [mcm.log](https://github.com/gardener/machine-controller-manager/files/7526833/mcm.log)

[2021-11-12 10:33] AxiomSamarth commented on #657
@Gerrit91 I see! One of my colleagues @himanshu-kun is also trying to reproduce this issue. Let's look forward for his findings.

Thanks for the logs though. I will go through it and check if I find something interesting.

[2021-11-12 14:24] himanshu-kun commented on #657
Hi @Gerrit91 ,
The MCM couldn't restart until the API-server is down . By default both MCM contianers tries to acquire leader-lease , and that couldn't be possible if the apiserver is down.
From from the logs, we see MCM was first struggling to get leader lease and then when API server was up , it acquired it.
[code]

Coming to the problem, after looking at the complete logs , I figured that the c

[2021-11-16 10:06] AxiomSamarth commented on #657
@Gerrit91 If the above investigation has helped you understand the issue and if you are convinced with it then shall we close this issue?

[2021-11-16 11:57] Gerrit91 commented on #657
I think the answer from @himanshu-kun is great and points us into the right direction. I am pretty much convinced now that there is an inconsistency / a bug somewhere in our code where we construct / manage provider IDs. I did not have the time yet to dig into it though.

I am fine closing this issue and in case there is a reason to further discuss this issue, I would reopen if necessary.

Thanks

[2021-11-16 11:57] #657 closed

[2021-12-27 07:47] AxiomSamarth opened #665 "Update Go Version on MCM & providers to v1.17"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Update the go version to 1.17

- [x] Machine Controller Manager (@AxiomSamarth)
#664
- [x] Machine Controller Manager Provider AWS (@AxiomSamarth)
https://github.com/gardener/machine-controller-manager-provider-aws/pull/60
- [x] Machine Controller Manager Provider Azure (@AxiomSam

[2021-12-27 07:58] AxiomSamarth commented on #665
cc: @himanshu-kun

[2021-12-28 05:46] himanshu-kun opened #666 "Machine Controller Manager Provider GCP (@himanshu-kun)"

[2021-12-28 05:47] #666 closed

[2021-12-28 07:54] himanshu-kun commented on #600
/close as the issue has been resolved with vendoring k8s v1.20.6

[2021-12-28 07:54] #600 closed

[2021-12-30 05:45] himanshu-kun commented on #621
Another case to handle -
If a machine drain is `ongoing` and a `force-deletion:true` label is added on the machine obj, then force deletion of machine should happen.
Currently on shoot deletion `force deletion` label is added , but it doesn't force delete the machine, if machine is already draining or stuck in draining , and thus shoot deletion is also stuck (until drain timeout occurs which could

[2022-01-03 09:20] AxiomSamarth commented on #665
Closing the issue as all tasks completed.

[2022-01-03 09:20] #665 closed

[2022-01-06 06:16] #651 closed

[2022-01-17 15:35] ialidzhikov opened #671 "Log Node conditions when considering a Machine as unhealthy"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 3

**What would you like to be added**:
There is the following logging that logs machine is unhealthy but does not provide any details (for example Node conditions):

https://github.com/gardener/machine-controller-manager/blob/9f4f1352d4b67d0a5d3d042de694e235a940fe95/pkg/util/provider/machinecontroller/machine_ut

[2022-01-18 12:55] himanshu-kun opened #674 "Update clusterRole for local deployment of MCM and MC"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
resourceName `machine-controller` needs to be added over [here](https://github.com/gardener/machine-controller-manager/blob/1417b92329616a3f92aeb40aadbb2b8c6655e393/kubernetes/deployment/out-of-tree/control-cluster-role.yaml#L60-L61)

**Why is this needed**:
When we deploy MCM pod

[2022-01-18 13:11] himanshu-kun opened #675 "Update MCM and MC versions to latest for local deployment"
**How to categorize this issue?**

/area TODO
/kind enhancement
/priority 3

**What would you like to be added**:
The local deployment yaml for the MCM pod which is maintained in every OOT provider repo needs to be updated with latest version of MCM and the corresponding provider. Also local-integration test needs to be performed(not available for Alicloud ,Vshpere) as these can't be validated by

[2022-01-24 10:17] #671 closed

[2022-02-02 07:44] himanshu-kun opened #679 "API server unreachable through istio could lead to deletion of all nodes"
**How to categorize this issue?**

/area performance
/kind bug
/priority 2

**What happened**:
An issue was noticed with the health check of MCM . The kubelet of nodes couldn't reach KAPI as there was problem with istio service of the seed. The kubelet uses the internal address of api-server to reach KAPI. This lead to all machines being in unknown state for over 10 min ,and led to MCM deleting th

[2022-02-02 12:02] himanshu-kun commented on #354
related to #679

[2022-02-02 12:03] himanshu-kun commented on #679
cc @vlerenc @ashwani2k

[2022-02-02 12:19] plkokanov commented on #642
btw I managed to find this issue today that seems loosely relevant https://github.com/kubernetes/kubernetes/issues/99804

[2022-02-03 07:44] himanshu-kun opened #680 "MCM marking Unknown machines Running on Unfreezing"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What would you like to be added**:
Currently machine controller gets frozen if we can't reach KAPI using the domain provided in kubeconfig. Its gets unfrozen again once KAPI is reachable but [we mark](https://github.com/gardener/machine-controller-manager/blob/4215b07f21f7b95a9336597073d24f88cfc9a3b5/pkg/util/provider/mac

[2022-02-03 08:06] timebertt commented on #642
Shouldn't the `metav1.Time` fields in `MachineStatus` be pointers if they are tagged with `omitempty`?

[2022-02-03 09:31] plkokanov commented on #642
Dug up this issue as well: https://github.com/kubernetes/kubernetes/issues/86811 which I guess is the same problem
Making the values pointers would be ok, but then checks if the fields are nil would have to be introduced.
And as far as I understand from [this comment](https://github.com/kubernetes/kubernetes/issues/86811#issuecomment-808932761) this should be fixed in k/k 1.20 (I only managed to r

[2022-02-03 11:32] vlerenc commented on #354
Instead of introducing a cluster health state or general freeze logic, we discussed to rather improve how dependency watchdog takes down KCM and MCM and ramps both up again (staged, i.e. some time after the API servers return KCM, and then some more time after KCM returns MCM) and slow down self-repair via a configurable parameter, e.g. `maxReplacements` effective per zone, so that melt-down event

[2022-02-03 12:27] plkokanov commented on #642
Before updating the machine crd with one generated with `// +nullable` for the `metav1.Time` fields the following call returns the error from the issue (btw when `metav1.Time` is not set, it is represented as null when marshalled to json):
[code]

After updating the crd so that `metav1.Time` fields are nullable the above call successfully modifies the status.

[2022-02-28 10:28] himanshu-kun opened #684 "Don't consider Crashloopbackoff pods as part of PDB"
**How to categorize this issue?**

/area performance
/area robustness
/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Currently upstream treats Crashloopbackoff pods as `Unavailable` and so if a PDB is configured with `maxUnavailable=1` with 2 pods , 1 pod Pending and other Crashloopbackoff, then the pod eviction request is denied for such pod and node draining

[2022-03-07 04:49] unmarshall opened #686 "Recursive function call leading to calling API server unlimited number of times without any delay/backoff"
**How to categorize this issue?**
 /area robustness control-plane ops-productivity
 /kind bug
 /priority 3

**What happened**:
During a code review it was found that there is a recursive call made to API server to update a `MachineDeployment` resource.
[code]
This will cause massive load on the API server. Even with Kube API server's `API Priority and Fairness` this could cause delays or denial of

[2022-03-08 04:41] himanshu-kun opened #688 "Make MaxReplacement configurable"
**How to categorize this issue?**

/area productivity
/kind enhancement
/priority 3

**What would you like to be added**:
Machine controller replaces 1 machine per machineDeployment in case of healthTimeout currently as per [this PR](https://github.com/gardener/machine-controller-manager/pull/683). But this value should be configurable by user on shoot.Yaml where user can provide `maxReplacementsP

[2022-03-08 04:42] himanshu-kun commented on #688
cc @unmarshall

[2022-03-22 07:39] #354 closed

[2022-03-28 06:16] neo-liang-sap opened #692 "high level design url wrong"
**How to categorize this issue?**
/area Doc
/kind bug
/priority 3

**What happened**:

In https://github.com/gardener/machine-controller-manager/blob/master/docs/FAQ.md#what-is-the-high-level-design-of-mcm the HLD pointing to https://github.com/gardener/machine-controller-manager/tree/master/docs/design however when I access this link i found a 404 page

![image](https://user-images.githubusercont

[2022-03-30 15:35] hoeltcl opened #693 "Static Code Analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-03-31 14:21] SimonKienzler opened #694 "`make generate` doesn't work on Linux"
**How to categorize this issue?**

/kind bug
/priority 3

**What happened**:

The following command fails on Linux:

[code]

The error:

[code]

The problem seems to stem from the `gen-crd-api-reference-docs` binary, because it's built for Mac:

[code]

**What you expected to happen**:

`make generate` shouldn't fail.

**How to reproduce it (as minimally and precisely as possible)**:

Run `make ge

[2022-04-01 06:06] himanshu-kun commented on #693
/close
The issues are unexploitable, as they are part of testing code.

[2022-04-01 06:08] #693 closed

[2022-04-08 09:56] himanshu-kun opened #699 "Zone field in nodeTemplate should be optional"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 2

**What would you like to be added**:
Make `Zone` field a pointer to string with optional tag

**Why is this needed**:
Currently its mandatory to provide zone value to nodeTemplate. However in Azure cloud provider the cluster could be non-zonal because of which this field shouldn't be specified. But we have to specify

[2022-04-13 09:28] MartinWeindel opened #703 "Reduce load on kube-apiserver / ETCD on pod eviction for termination machines"
**How to categorize this issue?**

/area robustness
/kind bug
/priority 3

**What happened**:

On rolling nodes of a large cluster with about 100 nodes, the max surge was limited to 10%. The termination of a node was waiting for workload to end. Therefore the rolling took more than 12 hours. This means during this time there have been about 10 machines in state `Terminating`. The machine controlle

[2022-04-14 15:52] hoeltcl opened #704 "Static code analysis"
Gardener informs its stakeholders in its [CNCF CII Badge](https://bestpractices.coreinfrastructure.org/en/projects/1822#analysis), that static code checks are applied by using Checkmarx. This repository has findings, which have to be assessed by the component owner(s). As required all prio high findings were already been immediately assessed. Please find the maximum processing times until when to

[2022-04-18 05:42] himanshu-kun commented on #704
/close

[2022-04-18 05:42] #704 closed

[2022-04-20 13:42] bg502 opened #706 "Make it possible to change API request frequency for create/delete vm api calls"
/area quality
/kind enhancement
/priority 3

**What would you like to be added**:
MCM needs to have a way to configure API requests frequency.

**Why is this needed**:
On failure to create an instance, MCM makes a lot of API calls to the instance provider server, exhausting API request limits. There is already a similar [issue](https://github.com/gardener/machine-controller-manager/issues/483), re

[2022-04-22 06:04] himanshu-kun opened #708 "ProviderID on machine should be same as that on node"
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 3

**What would you like to be added**:
ProviderID on machine object currently is different than providerID on node in terms of format.
We need to follow the same way of providerID as kubernetes nodes.
Different providers will have different formats. So the respective changes will have to be made in mcm-providers

**Why i

[2022-05-10 10:29] himanshu-kun opened #717 "Sync k8s dependecy 1.21"
**How to categorize this issue?**

/area robustness
/kind enhancement
/priority 2

**What would you like to be added**:
k8s dependency used by MCM needs to be updated to k8s v1.21.X

**Why is this needed**:

[2022-05-10 10:29] himanshu-kun commented on #717
/assign @Mkmittal

[2022-05-10 11:07] plkokanov opened #718 "Machine controller manager is not getting completely frozen if the api server is down"
**How to categorize this issue?**

/area control-plane-migration
/kind bug
/priority 3

**What happened**:
After performing a "bad case" control plane migration, the MCM that was still running in shoot's control plane on the source seed was acting upon the shoot's nodes and removing them, even though the shoot's APIServer in source seed was down. Previously when the kube apiserver was down MCM wou

[2022-05-12 15:03] bollmann opened #720 "Changing the Gardener Shoot node's worker group name affects all running workloads and causes down time."
**How to categorize this issue?**
/area control-plan
/kind enhancement
/priority 3

### What happened?

We accidentally changed the worker group name inside our productive Gardener shoot node manifest from "edp-g-pe1" to "default". This caused all the worker shoot nodes belonging to the old worker group to be drained and be shut down. Afterwards, the worker shoots were added to the worker group wi

[2022-05-13 06:58] himanshu-kun commented on #718
This is happening because we don't stop orphan machine deletion when the machineController is Frozen. I think we should enable that. Will raise a PR for the same

[2022-05-18 08:13] himanshu-kun commented on #392
/close as now the zone information is picked from nodeTemplate in machineClass for every provider we support.

[2022-05-18 08:13] #392 closed

[2022-05-18 09:33] himanshu-kun commented on #718
cc @vlerenc @unmarshall

[2022-05-20 05:27] himanshu-kun commented on #680
The machines go to `Unknown` state only from `Running` state as also mentioned here https://github.com/gardener/machine-controller-manager/pull/180#discussion_r228443386

So marking the `Unknown` to `Running` makes sense , but doing it just to reset the health check doesn't. It could be reset by keeping the state as `Unknown` just changing the `LastUpdateTime` to `time.Now()`

In that way no harm

[2022-05-20 06:14] himanshu-kun commented on #718
@plkokanov as per https://github.com/gardener/machine-controller-manager/pull/722#discussion_r877749122 we could still have a situation where orphan collection happens after the fix done in the PR #722
So I would like to know if that risk is acceptable.
If not , one other way could be to move the machine objects after shutting down MCM on old seed, so this kind of situation doesn't arise.

[2022-05-20 07:13] plkokanov commented on #718
We already do that in the case where the control plane of the source seed is reachable and the `gardenlet` there is still functioning properly. This is the so-called "good case" scenario of control plane migration.

However, for the case where `gardenlet` in the source seed has stopped working, or there is no way to talk to the control plane components of the shoot cluster even though they might b

[2022-05-23 06:13] himanshu-kun commented on #718
Following you explanation, in a `bad case` where control plane is not reachable ,couldn't we leave the machine objects in old seeds intact , and just shut down etcd (so old MCM wouldn't be able to work) and start with the new control plane and then whenever the seed comes online we could delete the remaining resources. Is there a mechanism like this where one could tell if a particular control pla

[2022-05-23 06:30] plkokanov commented on #718
That is exactly what we do, but as I mentioned it doesn't freeze completely (without the PR that you have opened), so if the machines in the destination seed are rolled out for w/e reason or new ones are created, MCM in the source seed will detect the new machines as orphaned and delete them.

Currently working on it :). But even after the source seed comes back up the shoot's ETCD in the control

[2022-05-23 07:52] vlerenc commented on #718
Can we please have a meeting? I thought we discussed good/bad case scenarios and made a very clear decision:

- The gardenlet talks to the garden cluster. That's where we take the information from whether a shoot shall be hosted on that seed or not (primary data source). In addition/if the connection is broken, the gardenlet shall run the DNS check instead as a fall-back (secondary data source), b

[2022-05-23 08:12] unmarshall commented on #718
It all started with an original question:

`A simple fix that is proposed to tackle the issue of orphan collecting machines during migration of control plane still has a gap allowing a possibility of orphan collection` as mentioned in [#722(Comment)](https://github.com/gardener/machine-controller-manager/pull/722#discussion_r877749122)

If that risk is not acceptable then we just change the soluti

[2022-05-23 08:35] himanshu-kun commented on #718
Oh yeah, forgot that case.
Then in that case it all boils down to the risk being acceptable or not as mentioned in @unmarshall 's comment [here](https://github.com/gardener/machine-controller-manager/issues/718#issuecomment-1134332233) . No further clarifications needed from my side.

@vlerenc I hope nothing else needed from MCM side [here](https://github.com/gardener/machine-controller-manager/is

[2022-05-24 05:27] himanshu-kun commented on #717
/close

[2022-05-24 05:27] #717 closed

[2022-05-24 05:37] himanshu-kun commented on #720
cc @vlerenc

[2022-05-24 07:13] vlerenc commented on #720
Thanks @bollmann. You are right, ideally we should prevent that (option #2). It is not reasonably possible to rename a pool (option #1) as the name is encoded everywhere, also so that you can more easily understand what the nodes are doing (on the infrastructure provider side as well as from within Kubernetes). GKE also doesn't offer pool rename.

@himanshu-kun @dkistner Can we implement a safe-gu

[2022-05-25 10:22] himanshu-kun commented on #630
PRs like this https://github.com/gardener/machine-controller-manager-provider-aws/pull/74 have made the required change

[2022-05-25 10:24] himanshu-kun commented on #679
fixed with https://github.com/gardener/machine-controller-manager/pull/683 for MCM

[2022-05-25 10:24] #679 closed

[2022-05-25 10:44] himanshu-kun opened #724 "Refactor MCM to leverage controller-runtime"
**How to categorize this issue?**

/area quality
/kind enhancement
/priority 2

**What would you like to be added**:
MCM should be re-written using controller-runtime framework. Currently we use client-go directly . As a part of this we would also remove the in-tree deprecated code https://github.com/gardener/machine-controller-manager/issues/622

**Why is this needed**:
Some advantages are:
* les

[2022-05-25 10:44] himanshu-kun commented on #724
cc @unmarshall

[2022-06-08 14:11] himanshu-kun opened #727 "Label gpu nodes"
**How to categorize this issue?**

/area auotscaling
/kind enhancement
/priority 3

**What would you like to be added**:
Label the nodes with gpu with the autoscaler label "gardener.cloud/accelerator"
**Why is this needed**:
Cluster Autoscaler can then efficiently scale-down such nodes

[2022-06-21 07:53] neo-liang-sap opened #729 "check instance reachable status in machine-controller-manager while checking new machine joining machine deployment"
**How to categorize this issue?**
 /area control-plane
/area TODO
/kind enhancement
/priority 3

**What would you like to be added**:

in AWS, sometimes instance is running but not reachable, in aws there's a command to check this reachable status
`aws ec2 describe-instance-status --instance-ids i-01e71990bfe658adc`

[code]

this instance is running but not reachable

Is it possible to add some ch

[2022-06-24 09:38] himanshu-kun opened #730 "Upgrade K8s dependency to 1.23"
**How to categorize this issue?**

/area performance
/kind enhancement
/priority 2
**What would you like to be added**:
Currently MCM is vendoring k8s 1.22
This needs to be upgraded to 1.23
Also consider the following PR which says deprecation of klog flags could cause issues https://github.com/gardener/machine-controller-manager/pull/728
**Why is this needed**:

[2022-06-27 07:46] himanshu-kun commented on #729
Yes we will work on adding such feature. Some research is required first to see if other providers also provide such networking info of an instance directly or not.

[2022-06-27 16:03] akin-alalade opened #731 "Shoot cluster nodes are not able to join cluster"
Hello,

We are seeing more and more nodes not being able to join the shoot cluster in reasonable time (under the 20mins default time)...only suse based OS are affected.

Sample error:
_task "Waiting until shoot worker nodes have been reconciled" failed: Error while waiting for Worker shoot--hc-can-ns2--407-e3-hdl/407-e3-hdl to become ready: error during reconciliation: Error reconciling worker: Fa

[2022-07-11 14:51] vpnachev commented on #731
/close

For reference, @akin-alalade have had the `os-suse-jeos` controllerregistration and controllerinstallations running in parallel with the `os-suse-chost`, so both controllers were racing to reconcile the same resource. The issues was occurring when the jeos was the controller that reconciled the OSC and as it was not properly decoding the configuration files, it was not possible for MCM to

[2022-07-11 14:51] #731 closed

[2022-07-25 08:35] ashwani2k opened #737 "Print node and instance details when printing machines on console."
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
As an operator I would like to see more details about the machine.
In concrete 2 fields will be really helpful namely -
* Node Name captured under `node`
* InstanceDetails captured under `providerId` (to map them on the Infra)

To not bloat up the width we can also consider provid

[2022-08-02 12:14] himanshu-kun commented on #462
cc @kon-angelo for updates on openstack part

[2022-08-03 08:11] himanshu-kun commented on #462
cc @briantopping for updates on VMware vsphere side

[2022-08-09 06:30] himanshu-kun opened #740 "Node label/taint/annotation placing logic needs to be improved"
**How to categorize this issue?**

/area performance
/kind discussion
/kind enhancement
/priority 3

**What would you like to be added**:
MCM needs to place node annotations,labels,taints(ALT) configured more efficiently. Refer Canary issue # 2918

**Why is this needed**:
There could be reasons for delay in applying ALT to nodes by MCM. Some of the reasons could be:
1. API server throttling
2. MCM

[2022-08-09 06:36] himanshu-kun commented on #740
CCM initialization follows a mechanism where kubelet places the following taints
[code]
on the node , and then CCM places the annotations and then removes this taint.

We could follow a similar approach for MCM
Taints to be placed on node, could be configured on the kubelet via `--register-with-taints` flag.

*Upside of approach*
- more deterministic
- quicker to implement

*Downside of approach*

[2022-08-09 06:51] himanshu-kun commented on #740
The second approach is using mutating webhook to apply ALT

*Upside of approach*
* deterministic
* less delay as during admission only the node will get the ALT

*Downside of approach*
* mutating webhook acts only on CRUD requests , so only at that time ALT update would happen and not in between, while currently it happens on machine reconciliation which gets triggered on machine object update on

[2022-08-09 06:51] himanshu-kun commented on #740
cc @unmarshall @vlerenc

[2022-08-16 13:00] himanshu-kun opened #741 "Autoscaler interfering in meltdown scenario solution"
**How to categorize this issue?**

/area performance
/kind bug
/priority 2

**What happened**:
Autoscaler's [`fixNodeGroupSize`](https://github.com/gardener/autoscaler/blob/1ec082de7487861da716e9867fe0a08c9a230437/cluster-autoscaler/core/static_autoscaler.go#L593) logic interferes with meltdown logic where we remove only maxReplacement machines per machinedeployment, and it removes the other `Unkn

[2022-08-16 13:04] himanshu-kun commented on #741
cc @unmarshall

[2022-08-22 08:52] himanshu-kun opened #742 "Improve MCM log messages/status for meltdown scenario"
**How to categorize this issue?**

/area ops-productivity
/kind enhancement
/priority 2

**What would you like to be added**:
Currently the meltdown scenario doesn't present good enough logs for any external user to figure out that meltdown control is taking place in MCM
logs like these are present currently
[code]

This needs to be improved. A new status field could be thought of too(needs to be

[2022-08-24 11:45] himanshu-kun commented on #649
throughput made configurable for gp3 volumes in provider-aws
https://github.com/gardener/machine-controller-manager-provider-aws/pull/95/

[2022-08-29 09:53] himanshu-kun commented on #631
Openstack clusters are currently not accessible from Public concourse, so pausing the issue till then

[2022-08-29 10:18] himanshu-kun commented on #708
Refer https://github.com/gardener/machine-controller-manager/blob/d7e3c5dffeb33abe2c30b435075fb050301da4fa/pkg/util/provider/machinecontroller/machine.go#L386-L391

[2022-09-20 04:54] rishabh-11 commented on #692
/close as the link has been updated

[2022-09-20 04:55] #692 closed

[2022-09-20 08:46] rishabh-11 commented on #703
One approach is to introduce backoff in the rate of pod eviction requests based on the amt of throttling for the request. The backoff can be limited, so we don't go over `1min` b/w two consecutive requests for a pod. This way the size of the cluster is not a factor we would consider. This makes sense as the size and number of pods in the cluster are not necessarily related.
Currently, we lack data

[2022-09-20 09:22] rishabh-11 commented on #688
a PR which tried to introduce throttling in Failed machine deletion is https://github.com/gardener/machine-controller-manager/pull/482
It has some ideas regarding making `maxReplacement` configurable

[2022-09-29 10:21] #737 closed

[2022-10-12 02:31] vlerenc opened #750 "Support for IaaS machine tags for all machines in a worker pool"
**What would you like to be added**:
Gardener adopters like to provide IaaS machine tags for all machines in a worker pool, much like labels, annotations, and taints are provided in the `shoot` spec per `worker` pool. All machines in that pool shall be created with those tags (ideally atomically, i.e. machine+tags together, so that there is no intermediate state with machines with no/missing tags)

[2022-10-12 07:07] himanshu-kun commented on #750
IIUC, they would also require that they can change the tags after the machines are created?
Also what's the priority level for this? any deadline?

@unmarshall @rishabh-11 this is exactly the use-case which we were discussing yesterday while discussing project-wide ssh keys

[2022-10-12 07:16] vlerenc commented on #750
Good question, but I guess on create is sufficient and simpler to build (with an admission plugin to prevent changing the tags in the shoot spec)? It would be a lot more effort to "revisit" machines again and change them, right (we do not do that today/yet)?

[2022-10-12 07:40] himanshu-kun commented on #750
currently we have tags support available in machineclass [aws example](https://github.com/gardener/machine-controller-manager/blob/0d00e1426dfee6b47a5a952b91402db867d16436/kubernetes/machine_classes/aws-machine-class.yaml#L18)(its an old AWSMachineClass, but providerSpec looks like this for AWS)

We use these tags currently to set info like `workerPoolName`,`machineObjName` etc.

The way MCM is in

[2022-10-12 09:43] vlerenc commented on #750
OK, then let's focus on immutable tags. That we then initiate a rolling update is the right thing.

[2022-10-12 10:18] rishabh-11 opened #751 "Add corresponding Machines to the worker queue when reconciling Machine Class"
**How to categorize this issue?**

/area control-plane
/kind enhancement
/priority 3

**What would you like to be added**:

In the current mcm, during machine class reconciliation, the corresponding machines are added to the reconciliation queue only if no finaliser is present on the machine class. Check out the below code for reference. https://github.com/gardener/machine-controller-manager/blob/

[2022-10-13 06:43] rishabh-11 opened #752 "Update Go Version on MCM & providers to v1.19"
**How to categorize this issue?**

/area usability
/kind enhancement
/priority 3

**What would you like to be added**:
Update the go version to 1.19

- [x] Machine Controller Manager(@rishabh-11)
https://github.com/gardener/machine-controller-manager/pull/753
- [x] Machine Controller Manager Provider AWS (@rishabh-11)
https://github.com/gardener/machine-controller-manager-provider-aws/pull/98
- [x

[2022-10-13 08:21] himanshu-kun commented on #750
We discussed the design of how we transport tags to VMs. We think its a sub-optimal design and ideally there shouldn't be a rolling update on VM tags update for the machine. It would be ideal to keep only those configurations in machineClass whose change really require a rolling update.

Proposed solution:

* instead of putting these tags in the machineClass , we should have it as part of machine

[2022-10-13 15:25] briantopping commented on #752
Note that the [v0.17.0 MCM vSphere](https://github.com/gardener/machine-controller-manager-provider-vsphere/releases/tag/v0.17.0) is based on `1.19.2`. The `go.mod` still shows 1.18, but that's the language level, not the build foundation and library level.

[2022-10-13 15:44] rishabh-11 commented on #752
I had a beginner's doubt. If the `go.mod` is using `1.18`, when I run `go mod tidy` and `go mod vendor`, wouldn't it cause the dependencies to be based on `go 1.18` and not `1.19`?

[2022-10-13 16:02] briantopping commented on #752
My interpretation of the [go directive](https://go.dev/ref/mod#go-mod-file-go) is it was originally designed for minimum semantic expectations of the language and build system. As that document suggests, the language has not yet had a semantic incompatibility and the changes it ends up pertaining to are for build tooling.

In other words, the go directive should map to the semantics of the project

[2022-10-17 10:16] himanshu-kun commented on #751
The issue for which the current code path was introduced https://github.com/gardener/machine-controller-manager/issues/560

[2022-10-19 07:25] elankath commented on #622
Commencing this. <will update>

[2022-10-24 08:29] vlerenc opened #754 "Apply machine deployment changes only to latest machine set, never both (e.g. during update)"
## What happened:
While investigating issues with pending workload during a rolling update that looked as if drain started on nodes without sufficient new capacity, we found out that changes to the machine deployment (e.g. cluster auto-scaler out- or in-scaling) are applied to both machine sets, the old one and the new one. This is at least a bug, but it is also the most likely culprit for the pen

[2022-10-24 08:54] vlerenc opened #755 "React faster if VM instance is gone (i.e. don’t wait until full machineHealthTimeout/machineCreationTimeout lapses)"
## What happened:
While investigating issues with pending workload during a rolling update that looked as if drain started on nodes without sufficient new capacity (see also issue #754), we found out that VM instances that will never make it are not considered as such and the full `machineHealthTimeout`/`machineCreationTimeout` needs to lapse, which slows down auto-scaling/self-healing/rolling-upd

[2022-10-27 12:48] ashwani2k opened #756 "Ensure all errors for eviction or any other k8s client api call are logged at the default log level `v3`"
**How to categorize this issue?**

/area control-plane
/kind bug
/priority 1

**What happened**:
We came across an issue where eviction of pods by MCM were not successful when there were more than one PDB's acting for a given Pod. However the issue was that MCM was not logging anything to identify why is the eviction failing.

So the PDB would work if the evictions are done by kube-controller-mana

[2022-11-07 06:43] himanshu-kun opened #758 "Autoscaler could scale down new machine created as replacement"
**How to categorize this issue?**

/area high-availability
/area performance
/kind bug
/priority 3

**What happened**:
When using cluster autoscaler with MCM , in case when MCM replaces an unhealthy machine with a new one, autoscaler could remove the new machine after `--scale-down-unneeded-time` (default 30min) .
Removing is done by scaling down the machineDeployment so no new machine would be cr

[2022-11-07 09:59] himanshu-kun commented on #752
/close as all tasks are complete!

[2022-11-07 09:59] #752 closed

[2022-11-10 14:36] vlerenc opened #760 "Avoid Counter-Productive Remediations (Melt-Down) during Zonal Outages"
**What would you like to be added**:
In case of an outage that leads to a network partitioning in which all nodes in one zone appear "offline" (while the cloud provider probably still shows the machines "online"), we start terminating (after `machineHealthTimeout`) the machines and removing the nodes one-by-one (thereby slowing down, but not avoiding the melt-down), because we can't/don't recognis

[2022-11-14 06:08] unmarshall commented on #758
Can you provide more details on why CA would think that the node is under utilised and therefore the respective `MachineDeployment` needs to be scaled down? In general having 2 actors working on the same set of resources can have un-needed consequences.
What happens if the pods that were originally scheduled on the un-healthy node are now scheduled/deployed elsewhere post node drain? When MCM brin

[2022-11-14 08:13] himanshu-kun commented on #758
Yes its given in upstream CA also that they [won't gaurantee](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#:~:text=With%20that%2C%20Cluster%20Autoscaler%20knows%20where%20each%20pod%20can%20be%20moved%2C%20and%20which%20nodes%20depend%20on%20which%20other%20nodes%20in%20terms%20of%20pod%20migration.%20Of%20course%2C%20it%20may%20happen%20that%20eventually%20the%20

[2022-11-15 07:10] unmarshall commented on #758
One way is to enhance `MachineStatus` and introduce another field which captures relevant information about the machine that the new machine is replacing. This information can then used to annotate the new node which gets created for this machine. Once the old machine is removed then the annotation can then be removed on the new node. The status field will remain as that is historical information

[2022-11-15 07:29] #756 closed

[2022-11-22 10:47] elankath commented on #754
Still under analysis for root cause. The current code distributes replicas across old and new machine sets in [dc.scale](https://github.com/gardener/machine-controller-manager/blob/v0.47.0/pkg/controller/deployment_sync.go#L409).

This logic appears to be correct and was done to reduce number of un-available machines and was apparently introduced to follow: [Scale Deployments Proportionally](https

[2022-11-22 12:57] himanshu-kun commented on #750
I went through the code again, and this is what we follow currently :
We pass the `labels` which user provides in [shootYaml](https://github.com/gardener/gardener/blob/fb29d38e6615ed17d409a8271a285254d9dd00ad/example/90-shoot.yaml#L61-L62) as `tags` to the VM.
For doing that we update the machineClass. This update is done by gardener-extension-provider-XYZ.
Currently aws provider directly passes t

[2022-11-23 07:09] unmarshall commented on #750
Yes, i tested this as well. I added labels to the shoot yaml and i was correctly reflected in the machine class. Name of the machine class contains a name which comprises of the deployment name and a [worker pool Hash](https://github.com/gardener/gardener/blob/master/extensions/pkg/controller/worker/machines.go#L122-L180). This does not include labels so any change made to labels will not change t

[2022-11-23 08:43] kon-angelo commented on #750
We don't really want to cause a rolling update of all VMs for a label change so we don't trigger a hash change when labels are added. It still has the effect that the node objects are updated AFAIK but not the machines.

Ideally we could have a hook in the MCM lifecycle that updates the VMs with as many attributes as it can update (ignoring those it can't update)

[2022-11-24 10:40] himanshu-kun commented on #750
We had a meeting , and we decided the following approach:
* remove `tags` section from machineClass. We could put them for deprecation , for one release and remove them in the next totally. don't pass labels to  tag section of machineClass (requires extension code changes)
* If customer wants to place tags on VM , then he should specify those tags like `provider.gardener.cloud/tag/key1: label1` un

[2022-11-24 11:26] vlerenc commented on #750
Uh, that sounds a bit "ugly", doesn't it?

I mean: Dear user, you can/have to place tags under labels (not tags), but with a "magic" prefix, that is then cut off later before it materialises as tag and btw, the label you just defined, won't materialise as label at the node, despite being added to the label section.

We won't win a beauty contest this way. What was the motivation for this proposal?

[2022-11-25 06:01] himanshu-kun commented on #750
Yes it sounds ugly but we considered the following benefits:
* we won't have to update the shoot yaml with new blocks like `vmTags`. There is another thing called [`network tags`](https://cloud.google.com/vpc/docs/add-remove-network-tags#:~:text=You%20can%20assign%20network%20tags%20to%20new%20VMs%20at%20creation%20time%2C%20or%20you%20can%20edit%20the%20set%20of%20assigned%20tags%20at%20any%20tim

[2022-11-25 06:48] unmarshall commented on #750
Only learnt recently that the the labels in the worker pool are meant to applied on `Node` resources. (https://gardener.cloud/docs/gardener/api-reference/core/#core.gardener.cloud/v1beta1.Worker)

I agree that labels is now no longer clear if we include tags that should only be applied to VMs and should not be added to Node as labels. I really wish the `labels` field was called `nodeLabels` to be

[2022-11-25 07:03] elankath commented on #760
Went through #354 . IMHO, the primary problem is that in the MCM health-reconciliation we are slightly over-eager in marking a machine phase from `Running` ⮕  `Unknown` ⮕ (on health check time out) `Failed` leading to meltdown scenarios.

Basically, if a Node is not ready, we immediately change the machine phase to `Unknown` followed by `Failed` on health check timeout.  The default health check t

[2022-11-25 09:57] unmarshall commented on #750
If we go with the approach to keep them as labels only then i would recommend that we properly choose a prefix which can then be extended to support other kinds of tags in the future.

Proposal:
`provider.gardener.cloud/tag/vm/<key-name>: <value>`
At some later point in time if we have the need to also support network tags then we can then just have them as:
`provider.gardener.cloud/tag/network/<k